<h2 class="non lower">Actions</h2>
<p>
  <%#= link_to "Download", sufia.download_path(@collection.noid) %>
  <!-- &nbsp;|&nbsp; -->
  <%# link_to "Cite", citation_generic_file_path, {:id => 'citeLink', :name => 'citation', :class => 'lightboxLink'}, :action => 'citation' %>
  <% if can? :edit, @collection %>
      <!-- &nbsp;|&nbsp; -->
      <%= link_to "Edit", collections.edit_collection_path %>
  <%end %>
</p>

