<!DOCTYPE html>
<html lang="<%= t('sufia.document_language') %>">
<head>
  <title>Read Only</title>
</head>
<body>
<h1>Read Only</h1>
<div id="announcement" class="row">
  <%= @announcement %>
</div>
</body>
</html>
