<div class="col-xs-12 col-sm-8">
  <%= render partial: "marketing" %>
</div>
<div class="home_call_action col-xs-12 col-sm-4">
  <div class="home_share_work">
    <%= link_to "<span class=\"glyphicon glyphicon-upload\"></span> #{t('sufia.share_button')}".html_safe, sufia.new_generic_file_path, class: "btn btn-primary btn-lg btn-block", id: "contribute_link" %>
    <p class="text-center"><a href="/terms/">Terms of Use</a></p>
  </div>
  <div class="photo_credit">
    <a href="#">Photo and image credits.</a>
  </div>
</div>
