<li data-behavior="batch-edit-select-none" data-state="on"><a href="#"><i class="icon-ok"></i> Select None</a></li>
<li data-behavior="batch-edit-select-page" data-state="off"><a href="#"><i class=""></i> Select Current Page</a></li>
<li><%=batch_edit_continue("Edit Selected") %></li>
<li><%=batch_delete %></li>
<li><a href="#" onclick="modal_collection_list('open', event)">Add to Collection</a></li> <!-- should open modal window -->
<li><%= button_for_create_collection %></li>
