<% record.creator.each_with_index do |creator, i| %>
  <span itemprop="creator" itemscope itemtype="http://schema.org/Person">
  <span itemprop="name">
    <%= link_to(creator, @presenter.creator_facet_path(i)) %>
  </span>
  </span>
  <br />
<% end %>
