# Figaro configuration file
# For further instructions see: http://sites.psu.edu/dltdocs/?p=3521
# Each key under production is checked in Scholarsphere::Config to ensure that files on servers
# are correct. Add or removing any keys here must include a corresponding change to
# Scholarsphere::Config::REQUIREMENTS otherwise, the cap deploy will fail.
#
development:
  ffmpeg_path: "ffmpeg"
  service_instance: "localhost"
  virtual_host: "http://localhost:3000/"
  stats_email: "ScholarSphere Stats <umg-up.its.sas.scholarsphere-email@groups.ucs.psu.edu>"
  no_reply_email: "no_repy@scholarsphere.psu.edu"
  google_analytics_id: "test-id"
  read_only: "false"
  EZID_USER: 'ezid_user'
  EZID_PASSWORD: 'ezid_password'
  EZID_HOST: 'ezid_host'
  doi_handle: 'handle'
  RECAPTCHA_SITE_KEY: 'site-key'
  RECAPTCHA_SECRET_KEY: 'secret-key'
  backup_directory: 'backups'
  ldap_unwilling_sleep: "2"
  REPOSITORY_FILESTORE: <%= Rails.root.join('public', 'repository').to_s %>
  REPOSITORY_FILESTORE_HOST: 'http://localhost:8000/repository'
  REPOSITORY_EXTERNAL_FILES: 'true'
  timing_enabled: 'false'
  admin_group: 'umg/admin'
test:
  ffmpeg_path: "ffmpeg-test"
  service_instance: "example-test"
  virtual_host: "http://test.com/"
  stats_email: "Test email"
  no_reply_email: "no_repy@scholarsphere.psu.edu"
  google_analytics_id: "test-id"
  read_only: "false"
  RECAPTCHA_SITE_KEY: 'site-key'
  RECAPTCHA_SECRET_KEY: 'secret-key'
  backup_directory: 'backups_test'
  ldap_unwilling_sleep: "0"
  REPOSITORY_FILESTORE:  <%= Rails.root.join('public', 'repository').to_s %>
  REPOSITORY_FILESTORE_HOST: 'http://localhost:8000/repository'
  REPOSITORY_EXTERNAL_FILES: 'true'
  timing_enabled: 'false'
  admin_group: 'umg/admin'
production:
  TMPDIR: "/tmp"
  ffmpeg_path: "ffmpeg-test"
  service_instance: "example-prod"
  virtual_host: "http://test.com/"
  stats_email: "Test email"
  no_reply_email: "no_repy@scholarsphere.psu.edu"
  google_analytics_id: "test-id"
  derivatives_path: "path"
  read_only: "false"
  EZID_USER: 'ezid_user'
  EZID_PASSWORD: 'ezid_password'
  EZID_HOST: 'ezid_host'
  doi_handle: 'handle'
  RECAPTCHA_SITE_KEY: 'site-key'
  RECAPTCHA_SECRET_KEY: 'secret-key'
  ldap_unwilling_sleep: "2"
  REPOSITORY_FILESTORE: '/opt/heracles/binaries'
  REPOSITORY_FILESTORE_HOST: 'https://dce-fedora.vmhost.psu.edu/binaries'
  REPOSITORY_EXTERNAL_FILES: 'true'
  timing_enabled: 'false'
  admin_group: 'umg/admin'
