# These files should be copied from the config/sample directory and tweaked
# per environment.
config/database.yml
config/fedora3.yml
config/hydra-ldap.yml
config/newrelic.yml
config/browse_everything_providers.yml
config/analytics.yml
config/arkivo.yml
config/share_notify.yml

## MAC OS
.DS_Store
.idea/*

## Garbage
C\:\\nppdf32Log\\debuglog.txt

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
*.swo

## OSX
.DS_Store
nohup.out

rerun.txt

## rcov
coverage.data
coverage/*

## TEST APP
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/

## control ruby, gems, etc.
.ruby-gemset
.rvmrc
/.bundle
.rubocop-http*

## PROJECT::GENERAL
coverage
rdoc
pkg
db/*.sqlite3
db/*.sqlite3-journal
log/*.log
tmp

*.sqlite3
*.log
*~
*.swp

#redis snapshot db
dump.rdb

vendor/plugins/haml/init.rb
vendor/plugins/blacklight/.git
log/*

public/plugin_assets
public/plugin_assets/

.project
.buildpath

/.yardoc
/doc

## PROJECT::SPECIFIC

## generates foxml
spec/fixtures/scholarsphere/*.foxml.xml
spec/fixtures/scholarsphere/scholarsphere_rspecTestFixture.descMeta.txt
spec/fixtures/scholarsphere/scholarsphere_rspecTestFixture.foxml.erb
spec/fixtures/scholarsphere/scholarsphere_rspecTestFixture.txt

## ASSET PIPELINE
.sass-cache/
public/assets/

## Paperclip assets
public/system/

## Sitemap
public/sitemap.xml

## Magick-related artifacts
mini_magick*.png

bin/
jetty
.capistrano
report.json
migration_report
user_emails.txt
public/uploads
config/application.yml
