before_install:
  - gem update --system
  - gem install bundler
language: ruby
addons:
  chrome: stable
cache:
  bundler: true
  directories:
    - "dep_cache"
bundler_args: --without development debug
sudo: false
rvm:
  - 2.4.6
jdk:
  - oraclejdk8
env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
    - JS=true
    - secure: "kjSxqq3grvFWkaSJdPSBuh50cdw8J3voSlagGnbO6br8soaKIVjYIB0AYj3ublVTKI92Aoh+aqL0C4AA4Ls5LEX/Pr6P8qFJPGoyDey9b38y+2SMMdxb8p0j+g3YA9C6wDth/f4OrLIH2mrMoVkbk4iUL+6VUFM93fqvgB936BY="
    - secure: "r/1A96TVGqorCSEVw1E0L727V626MIKG7FSVsE4nFYm5+89CTUPwuF1cew71gWqhL1aDACrzbw9iUcGnYvIclaU0li2fVd+YKbUA3xkTb+Aa8pHWC9tmxWtO/Hu+z9ej2Q0bIWnuQEYY3VEMq9Mvf0TqqePpHcjqAqB3RvST2os="
    - secure: "IqfEX7SSwGtcB73dOF5rYhPJvwvp3/WG8XKacTsWA5qrJK4CQaNb3OdLYup3KJfrfSLbVkZmHzgAI2HfD+Jo7UX/iXTiHlnCQ+HRfkCo5MezM07E4FaVaGTnFZj6/qrbINGulORzSrTF3qZYm0wX/6kgM8wLzWHeRfzmQ60pmlg="
    - secure: "G2snfK/GK8rk8emiy3a0wqe+rLJkM0abaPIktgjv0P3SDreQzeDNLyy5GsVG4LhM/QCur3qznlDl5c8/fXQpSrzZb9lsJmu/HX4yjiF+5FtAgPlAnfw0H6Dy1N14E4KhBktHS/EZzv7NLhyzn/ADFSiETHiDHWMQuQvWs8w8iJI="
    - secure: "jLLPH2btu/jQog37DK4TbU/x7wrE/bYpY14fhxuysHousEemJ2hAFl2uK86v3K4ZdpgPBMBznubvgKihXT5JOEm+PGfmi6kKTPZFCp0+M88F/42eruna9Zl15rl1TwgarGdSadCB8ZAq4iCGXVxiIgvQEq7X1rUlpOpj32jBPUk="
services:
  - redis-server
stages:
  - niftany
  - test
  - coverage
jobs:
  include:
    - script: ./travis/test.sh
      env:
        - TEST_SUITE=feature
    - script: ./travis/test.sh
      env:
        - TEST_SUITE=unit
    - stage: coverage
      install: skip
      script: ./travis/coverage.sh
    - stage: niftany
      script: bundle exec niftany
after_failure:
  - cat log/test.log
