<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<%= image_tag attachments['logo.png'].url , style: "background-color:red;" %>
<p></p>Hello <%= @view_data[:name] %>,<p>
<p>The rest of the text here....</p>
</body>
</html>