<div class="row" style="margin-top: 40px;">
  <div class="col-sm-12">
    <div class="col-sm-6" id="greylogo">
      <a href="http://scholarsphere.psu.edu" title="ScholarSphere">
        <%= image_tag "scholarsphere-footer-logo.gif", alt:"ScholoarSphere"%>
      </a>
    </div>
    <div class="col-sm-4" style="" id="slogan">
      <p>A secure online repository that will help you share and preserve your research and
        scholarly work.</p>

      <p id="url"><a href="http://scholarsphere.psu.edu">scholarsphere.psu.edu</a></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12" style="" id="service">
    A service of the University Libraries and Penn State IT.
  </div>
</div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1" id="emailnotice">
    <% if params[:action] == "new" %>
    * Required field.  We will use your information only to contact you about ScholarSphere.
    You can expect to receive up to three emails related to the service and can ask to be taken
    off the email list at any time.
    <% end %>
  </div>
</div>

<div id="footer" class="landing">
  <div class="row logos">
    <div class="col-sm-12">
      <a href="http://it.psu.edu">
        <%= image_tag "ps-it-logo.jpg", style:"margin-right: 10px;", alt:"PS IT Logo"%>
      </a>
      <a href="http://libraries.psu.edu">
        <%= image_tag "university-libraries-logo.jpg", style:"margin-right: 10px;", alt:"University Libraries Logo"%>
      </a>
    </div>
  </div>
  <div class="row links">
    <div class="col-sm-12">
      The Pennsylvania State University &copy;2013 | <a
    href="http://www.psu.edu/ur/legal.html">Privacy and Legal Statements</a> | <a
    href="https://scholarsphere.psu.edu/contact">Contact Us</a>
    </div>
  </div>
</div>
