<a class="sr-only" href="#page-main">Skip to Content</a>
<header id="header" class="container-group">
  <div class="outline">


    <!-- Branding | Section Template -->
    <section id="branding" class="container clone_1 section-branding fix">
      <div class="texture">
        <div class="content">
          <div class="content-pad">
            <div class="branding_wrap fix col-sm-12" style="text-align: center;">
              <a class="ps-mark" href="http://psu.edu" title="Penn State University">
                <%= image_tag "PSU-mark.png", alt:"Penn State University mark"%>
              </a>
              <a class="plbrand mainlogo-link" href="http://scholarsphere.psu.edu"
                 title="ScholoarSphere">
                <%= image_tag "scholarshere-logo.png", class:"mainlogo-img", alt:"ScholoarSphere"%>
              </a>

              <div class="icons" style="bottom: 12px; right: 1px;"></div>
            </div>
            <script type="text/javascript">
                jQuery('.icons a').hover(function () {
                    jQuery(this).fadeTo('fast', 1);
                }, function () {
                    jQuery(this).fadeTo('fast', 0.5);
                });
            </script>
            <div class="fbox-row" style="padding-bottom: 150px">
              <div class="fbox">
                <div class="fboxtitle">
                  <h3>Share</h3>
                </div>
                <div class="fboxtext">
                  Collect and share your research and scholarly work with the Penn
                  State community and the world.
                </div>
              </div>
              <div class="fbox">
                <div class="fboxtitle">
                  <h3>Preserve</h3>
                </div>
                <div class="fboxtext">
                  Safeguard your work, ensuring that future generations of scholars
                  will be able to locate, use, and build on your discoveries.
                </div>
              </div>
              <div class="fbox">
                <div class="fboxtitle">
                  <h3>Manage</h3>
                </div>
                <div class="fboxtext">
                  Adjust your privacy and access settings to control who can find,
                  see, edit, and download your content.
                </div>
              </div>
            </div>
            <!--/.row -->
          </div>
        </div>
      </div>
    </section>

    <!-- Boxes | Section Template -->
  </div>
</header>
