<%#
Copyright © 2012 The Pennsylvania State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>

<% if user_signed_in? %>
    <% nm = current_user.name %>
    <% em = current_user.email_address %>
<% else %>
    <% nm = '' %>
    <% em = '' %>
<% end %>

<div class="container">
  <div id="site" class="fullwidth">
    <div id="page" class="thepage">
      <div class="page-canvas">

        <%= render 'heading' %>
        <article
        class="post-35 page type-page status-publish hentry fpost post-number-1"
        id="post-35">

            <h3 id="thankyou">
              Thank you for your request.
            </h3>
            <div id="thankyoutext">
              <p>A ScholarSphere team member will</p>
              <p>be in touch with you shortly.</p>
            </div>
        </article>
        <%= render 'footer' %>
      </div> <!-- page-canvas -->
    </div> <!-- thepage -->
  </div> <!-- fullwidth -->
</div> <!-- container -->
