<% if user_signed_in? %>
    <% nm = current_user.name %>
    <% em = current_user.email_address %>
<% else %>
    <% nm = '' %>
    <% em = '' %>
<% end %>

<div class="container">
  <div id="site" class="fullwidth">
    <div id="page" class="thepage">
      <div class="page-canvas">

        <%= render 'heading' %>
        <article
        class="post-35 page type-page status-publish hentry fpost post-number-1"
        id="post-35">

            <h3 id="thankyou">
              Thank you for your request.
            </h3>
            <div id="thankyoutext">
              <p>A ScholarSphere team member will</p>
              <p>be in touch with you shortly.</p>
            </div>
        </article>
        <%= render 'footer' %>
      </div> <!-- page-canvas -->
    </div> <!-- thepage -->
  </div> <!-- fullwidth -->
</div> <!-- container -->
