// These styles are very specific to override the thumbnails from blacklight gallery
// scss-lint:disable IdSelector, SelectorDepth
#documents .grid .document .thumbnail {
  padding: 0;

  > a > img {
    left: 0;
    max-height: none;
    max-width: 100%;
    position: absolute;
    top: 0;
  }
}
// scss-lint:enable IdSelector, SelectorDepth
