.collection-icon,
.collection-icon-small,
.collection-icon-search {
  color: $collection-icon-color;
}

.collection-doi-controls {
  padding-bottom: 1em;

  legend {
    border: 0;
    border-bottom: 1px solid $gray-light;
  }
}
