.collection-icon,
.collection-icon-search {
  color: #0072bc;
}
.collection_doi_controls legend {
  border: 0;
  border-bottom: 1px solid #e5e5e5
}

.collection_doi_controls {
  padding-bottom: 1em;
}
