.btn-link.add-creator {
  margin-bottom: 2.5em;
  padding: 0;
  text-decoration: underline;
}

.btn-link.remove-creator {
  color: $required-red;
  float: right;
  padding: 0;
  text-decoration: underline;
}

.twitter-typeahead {
  float: none;
}

.find-creator-container {
  margin-bottom: 1em;
  margin-top: 1em;
}

.creator { margin-bottom: 1rem; }
