@media (min-width: 768px) {
  // scss-lint:disable VendorPrefix
  .fixedsticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: static;
  }
  // scss-lint:enable VendorPrefix

  // When position: sticky is supported but native behavior is ignored
  .fixedsticky-withoutfixedfixed .fixedsticky-off,
  .fixed-supported .fixedsticky-off {
    position: static;
  }

  // scss-lint:disable ImportantRule
  .fixedsticky-withoutfixedfixed .fixedsticky-on,
  .fixed-supported .fixedsticky-on {
    position: static !important;
  }
  // scss-lint:enable ImportantRule

  .fixedsticky-dummy {
    display: none;
  }

  .fixedsticky-on + .fixedsticky-dummy {
    display: none;
  }
}
