.footer-wrapper {
  padding: 1em;
  min-height: 4em;
  background: #036;
  color: #fff;
}

.footer-wrapper a:link,
.footer-wrapper a:visited {
  color: #fff;
}

.footer-logo {
  font-size: 2em;
  font-weight: 300;
}

.footer-logo-bold {
  font-weight: 500;
}

.footer-version {
  padding: .5em;
}

.footer-version a:link {
  text-decoration: underline;
}

.footer-service {
  clear: both;
}

.footer-text a:link {
  text-decoration: underline;
}

.footer-text-links-list {
  padding-left: 0;
}

.footer-text-links-list li {
  display: inline;
}
