.footer-wrapper {
  background: $psu-dark-blue;
  color: $primary-white;
  min-height: 4em;
  padding: 1em;
}

.footer-wrapper a:link,
.footer-wrapper a:visited {
  color: $primary-white;
}

.footer-logo {
  font-size: 2em;
  font-weight: 300;
}

.footer-logo-bold {
  font-weight: 500;
}

.footer-version {
  padding: .5em;

  a:link {
    text-decoration: underline;
  }
}

.footer-service {
  clear: both;
}

.footer-text a:link {
  text-decoration: underline;
}

.footer-text-links-list {
  padding-left: 0;

  li {
    display: inline;
  }
}
