/* Needs to be overly specific to override Bootstrap styles coming from 3 gems */
html > body .form-progress .radio input[type="radio"] {
  margin-left: 0;
}

.switch-upload-type {
  padding: 0.5em 0;
}

.optional-list {
  list-style-type: circle;
  padding-left: 2.2em;
}