// Needs to be overly specific to override Bootstrap styles coming from 3 gems
// scss-lint:disable QualifyingElement, SelectorDepth
html > body .form-progress .radio input[type="radio"] {
  margin-left: 0;
}
// scss-lint:enable QualifyingElement, SelectorDepth

.switch-upload-type {
  padding: .5em 0;
}

.optional-list {
  list-style-type: circle;
  padding-left: 2.2em;
}

.add-creator {
  margin-bottom: 2.5em;
  padding: 0;
 }

.remove-creator {
  padding: 0;
}

// Removes some extra markup from 3 gems and a different setting for the labels and radio buttons
html > body .permission-label { padding-left: 0; }

.progress .size-progress {
  background-color: $size-progress-bg;
  color: $primary-black;
  font-size: 1.35rem;
  margin-left: .5rem;
}
