@media screen and (min-width: 400px) {

  a .user-util-text {
    color: #fff;
    text-decoration: none;
  }

  li.open a .user-util-text {
    color: #000
  }

  a:hover .user-util-text {
    color: #000;
  }

  .lion-logo {
    margin-top: .15em;
    width: 125px;
  }

  /* Needs to be very specific to override code from 3 gems */
  #masthead .navbar-header > .logo-padding-fix {
    padding-left: 0;
    margin-left: -5px;
  }

  /* Needs to be very specific to override code from 3 gems */
  #masthead .navbar-nav > li > a {
    color: #fff;
    text-decoration: none;
  }

  .navbar-default .navbar-nav {
    margin-top: 0;
  }

  .navbar-default .navbar-nav > li > a {
    text-align: center;
  }

  .navbar-header {
    background-color: #036;
  }

  .ss-logo a:link,
  .ss-logo a:visited,
  .ss-logo a:hover {
    display: block;
    color: #fff;
    padding-top: .5em;
    padding-left: .75em;
    font-size: 1.25em;
    font-weight: 300;
    text-decoration: none;
  }

  .login-btn {
    float: right;
    margin-top: .5em;
  }

  .ss-toolbar {
    background-color: #2c76c7;
  }
}

@media screen and (min-width: 600px) {
  .navbar-inline > .nav > li {
    display: inline-block;
  }
}

@media screen and (max-width: 767px) {
  /* Needs to be very specific to override code from 3 gems */
  #masthead .navbar-nav .open .dropdown-menu {
    background-color: #fff;
  }

  /* Needs to be very specific to override code from 3 gems */
  #masthead .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
  }

  /* Needs to be very specific to override code from 3 gems */
  #masthead .navbar-nav .open .dropdown-menu > li > a:hover {
    background-color: #f5f5f5;
  }
}

@media screen and (min-width: 768px) {
  .lion-logo {
    width: 150px;
  }

  .navbar-inline .nav li {
    margin-top: .5em;
  }

  .ss-logo a:link,
  .ss-logo a:visited,
  .ss-logo a:hover {
    padding-top: .5em;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 960px) {
  .lion-logo {
    width: 175px;
  }

  .navbar-inline .nav li {
    margin-top: .5em;
  }

  .ss-logo a:link,
  .ss-logo a:visited,
  .ss-logo a:hover {
    padding-top: .5em;
    font-size: 1.75em;
  }
}
