/* Override styles coming from Sufia for better contrast */
html > body .navbar-default .navbar-nav > li > a {
  color: #686868;
  text-decoration: none;
}

.marketing {
  margin-bottom: 1.5em;
}
/* Overrides style coming from Sufia */
.marketing > .home_marketing_text {
  text-shadow: none !important;
}

.home_marketing_text p {
  font-size: 1.5em;
}

/* Overrides style coming from Sufia */
.marketing-share > .home-share-work {
  margin-bottom: 0;
  padding: 1em 0;
  background-color: #ece6d8;
  border-radius: 4px;
}

.home-share-work .btn {
  border: 2px solid #fff;
  font-size: 1.4em;
}

.home-tabs .nav a:link { text-decoration: none; }

.home-share-work p a:link,
.home-tabs .nav a:link,
.collection-highlights a:link {
  color: #2d699e;
}

.home-search {
  padding-bottom: 1.5em;
}

.home-content {
  margin-top: 1.5em;
}

/* Override Very specific set of declarations coming from Sufia */

div#announcement.container-fluid {
  font-size: 1.25em;
  text-align: left;
  color: black;
  background-color: #00948a;
  border: none;
  padding-top: 0;
  border-radius: 0;
}

.announcement {
  padding-bottom: 1em;
}

.announcement h2 {
  display: inline-block;
  color: #fff;
  padding-left: .35em;
  padding-right: .35em;
}

.announcement p {
  color: #fff;
  font-size: 1.4em;
  font-weight: 300;
  padding: 0 .5em .5em .5em;
}

.home-tabs {
  background-color: whitesmoke;
}

/* Overrides specific styles coming from Sufia */
html > body #content-wrapper {
  padding-bottom: 2em;
}

#content-wrapper.home-tabs ul {
  margin-bottom: 0;
}

.home-content {
  margin-bottom: 2em;
}

.home-content .tab-content {
  padding: 1em .75em;
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
