/* Needs to be very specific to override Sufia */
.image-masthead .searchbar-right .dropdown-menu li > a {
  color: #333;
}

/* Needs to be very specific to override Sufia */
.image-masthead .searchbar-right .dropdown-menu li > a:hover {
  background-color: #f5f5f5;
  color: #262626;
}

div#announcement.container-fluid {
  background-color: #fad466;
  color: black
}