/* Needs to be overly specific to override Bootstrap styles coming from 3 gems */

html > body h1,
html > body h2,
html > body h3 {
  font-weight: 300;
}

html > body a {
  color: #2d699e;
  text-decoration: underline;
}

/* Overrides that hop onto existing classes where the UI convention is enough */
a.btn,
.breadcrumb a,
.dropdown-menu > li > a,
.facets h3 a,
.facets h4 a,
.heading-tile a,
.nav-tabs > li > a,
.no-underline,
.visibility-link { text-decoration: none; }

/* Overrides the heavy default underline on H2 titles in the search */
.blacklight-genericwork h3 > a {
  text-decoration: none;
  text-shadow: 0 2px #fff;
  border-bottom: 1px solid;
}

/* Label and Button overrides for better contrast ratio */
html > body .label { font-weight: normal; }
html > body .label-success,
html > body .btn-success { background-color: #387f38; }
html > body .label-danger,
html > body .btn-danger { background-color: #d33a35; }
html > body .label-info,
html > body .btn-info { background-color: #2c76c7; }
html > body .label-warning,
html > body .btn-warning { background-color: #F0AD1B; }

.anchor { text-decoration: none; }
