// Needs to be overly specific to override Bootstrap styles coming from 3 gems
html > body h1,
html > body h2,
html > body h3 {
  font-weight: 300;
}

html > body a {
  color: $home-blue;
  text-decoration: underline;
}

// Overrides that hop onto existing classes where the UI convention is enough
.btn,
.breadcrumb a,
.dropdown-menu > li > a,
.facets h3 a,
.facets h4 a,
.heading-tile a,
.nav-tabs > li > a,
.no-underline,
.visibility-link { text-decoration: none; }

// Overrides the heavy default underline on H2 titles in the search
.blacklight-genericwork h3 > a {
  border-bottom: 1px solid;
  text-decoration: none;
  text-shadow: 0 2px $primary-white;
}

// Label and Button overrides for better contrast ratio
html > body .label { font-weight: normal; }

html > body .label-success,
html > body .btn-success { background-color: $btn-success-color; }

html > body .label-danger,
html > body .btn-danger { background-color: $btn-danger-color; }

html > body .label-info,
html > body .btn-info { background-color: $btn-info-color; }

html > body .label-warning,
html > body .btn-warning { background-color: $btn-warning-color; }

.anchor { text-decoration: none; }

.subtitle {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.1;
  margin-top: 20px;
}

// Overrides default Bootstrap styles for description lists and needs to be overly specific
html > body dt { font-weight: normal; }
html > body dd { font-weight: bold; }
