// Color variables to be used throughout ScholarSphere.

$primary-white: #fff;
$primary-black: #000;
$gray-light: #e5e5e5;
$gray-middle: #686868;
$gray-dark: #333;
$required-red: #d9534f;

// Home Page

$psu-dark-blue: #036;
$toolbar-blue: #2c76c7;
$marketing-white: #ece6d8;
$home-blue: #2d699e; // More accessible color for the foreground color
$home-green: #00948a;
$tab-background-color: #f5f5f5;
$tab-border-color: #ddd;

// Form elements like buttons or labels that look like buttons (Add Files)

$btn-upload-color: #387f38;
$btn-upload-color-border: #4cae4c;
$btn-upload-color-hover: #449d44;
$btn-upload-color-hover-border: #398439;

$btn-success-color: #387f38;
$btn-danger-color: #d33a35;
$btn-info-color: #2c76c7;
$btn-warning-color: #f0ad1b;

$focus-color-border: #66afe9;
$focus-shadow-color: rgba(102, 175, 233, .6);
$focus-shadow-color-inset: rgba(0, 0, 0, .075);

$size-progress-bg: #87cefa;

// Icons

$collection-icon-color: #0072bc;
