// scss-lint:disable QualifyingElement
.attribute-term,
dd.attribute { // Keeping the dd here so that we don't need to override Sufia
  float: left;
  line-height: 1.5em;
}

.attribute-term {
  clear: left;
  min-width: 8em;
  width: 35%;
}

dd.attribute + dd.attribute::before { // Keeping the dd here so that we don't need to override Sufia
  content: ', ';
}
// scss-lint:enable QualifyingElement

.list-style { padding-left: 0; }

.inline-list { display: inline; }

.part-of:not(:first-child)::before {
  content: ', ';
}

.border-bottom-1px {
  border-bottom: 1px solid $gray-dark;
  text-shadow: 1px 2px $primary-white;
}

.show-download {
  padding-top: 1em;
}

.readme h1 { font-size: 2.5rem; }

.readme h2 { font-size: 2rem; }

.readme h3 { font-size: 1.75rem; }

.readme h4 { font-size: 1.5rem; }

.breadcrumb > .active { color: $gray-bread-aaa; }

// Fit video to its containing element
video { width: 100%; }
