.attribute-term,
dd.attribute {
  float: left;
  line-height: 1.5em;
}

.attribute-term {
  clear: left;
  min-width: 8em;
  width: 35%;
}

dd.attribute + dd.attribute::before {
  content: ", ";
}

.border-bottom-1px {
  border-bottom: 1px solid #999;
  text-shadow: 1px 2px #fff;
}

.show-download {
  padding-top: 1em;
}