---
http_interactions:
- request:
    method: get
    uri: https://staging.osf.io/api/v1/share/search/?q=shareProperties.source:scholarsphere
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sentry-Id:
      - None
    body:
      encoding: UTF-8
      string: '{"count": 3, "time": 0.01, "results": [{"contributors": [{"email":
        "agw13@psu.ed", "name": "Wead, Adam Garner"}], "title": "M obit251.jpg", "shareProperties":
        {"source": "scholarsphere", "docID": "https://pooh.local/files/ht24wj56k"},
        "providerUpdatedDateTime": "2015-12-14T20:24:29Z", "highlight": {}, "uris":
        {"canonicalUri": "https://pooh.local/files/ht24wj56k", "providerUris": ["https://pooh.local/files/ht24wj56k"]}},
        {"contributors": [{"name": "Santy, Lorraine C", "email": "lcs13@psu.ed"}],
        "title": "Set9 ShamR 1.tif", "shareProperties": {"source": "scholarsphere",
        "docID": "h"}, "providerUpdatedDateTime": "2015-07-30T20:15:08.528+00:00",
        "highlight": {}, "uris": {"canonicalUri": "https://scholarsphere.psu.edu/files/x346f017s",
        "providerUris": "https://scholarsphere.psu.edu/files/x346f017s"}}, {"contributors":
        [{"name": "Roger Movies Ebert", "email": "rogerebert@example.com"}, {"name":
        "Roger Madness Ebert"}], "title": "Interesting research", "shareProperties":
        {"source": "scholarsphere", "docID": "http://example.com/document1"}, "providerUpdatedDateTime":
        "2014-12-12T00:00:00Z", "highlight": {}, "uris": {"canonicalUri": "http://example.com/document1",
        "providerUris": ["http://example.com/document1"]}}], "aggs": null, "aggregations":
        null}'
  recorded_at: Tue, 15 Dec 2015 16:24:32 GMT
recorded_with: VCR 3.0.0
