---
http_interactions:
- request:
    method: post
    uri: https://staging.osf.io/api/v1/share/data
    body:
      encoding: UTF-8
      string: '{"jsonData":{"title":"Bad File","contributors":[],"uris":{"canonicalUri":"https://pooh.local/files/fn106x93g"},"providerUpdatedDateTime":null}}'
    headers:
      Authorization:
      - Token SECRET_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: INTERNAL SERVER ERROR
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta http-equiv=\"content-type\"
        content=\"text/html; charset=utf-8\">\n  <meta name=\"robots\" content=\"NONE,NOARCHIVE\">\n
        \ <title>ValueError at /</title>\n  <style type=\"text/css\">\n    html *
        { padding:0; margin:0; }\n    body * { padding:10px 20px; }\n    body * *
        { padding:0; }\n    body { font:small sans-serif; }\n    body>div { border-bottom:1px
        solid #ddd; }\n    h1 { font-weight:normal; }\n    h2 { margin-bottom:.8em;
        }\n    h2 span { font-size:80%; color:#666; font-weight:normal; }\n    h3
        { margin:1em 0 .5em 0; }\n    h4 { margin:0 0 .5em 0; font-weight: normal;
        }\n    code, pre { font-size: 100%; white-space: pre-wrap; }\n    table {
        border:1px solid #ccc; border-collapse: collapse; width:100%; background:white;
        }\n    tbody td, tbody th { vertical-align:top; padding:2px 3px; }\n    thead
        th { padding:1px 6px 1px 3px; background:#fefefe; text-align:left; font-weight:normal;
        font-size:11px; border:1px solid #ddd; }\n    tbody th { width:12em; text-align:right;
        color:#666; padding-right:.5em; }\n    table.vars { margin:5px 0 2px 40px;
        }\n    table.vars td, table.req td { font-family:monospace; }\n    table td.code
        { width:100%; }\n    table td.code pre { overflow:hidden; }\n    table.source
        th { color:#666; }\n    table.source td { font-family:monospace; white-space:pre;
        border-bottom:1px solid #eee; }\n    ul.traceback { list-style-type:none;
        color: #222; }\n    ul.traceback li.frame { padding-bottom:1em; color:#666;
        }\n    ul.traceback li.user { background-color:#e0e0e0; color:#000 }\n    div.context
        { padding:10px 0; overflow:hidden; }\n    div.context ol { padding-left:30px;
        margin:0 10px; list-style-position: inside; }\n    div.context ol li { font-family:monospace;
        white-space:pre; color:#777; cursor:pointer; }\n    div.context ol li pre
        { display:inline; }\n    div.context ol.context-line li { color:#505050; background-color:#dfdfdf;
        }\n    div.context ol.context-line li span { position:absolute; right:32px;
        }\n    .user div.context ol.context-line li { background-color:#bbb; color:#000;
        }\n    .user div.context ol li { color:#666; }\n    div.commands { margin-left:
        40px; }\n    div.commands a { color:#555; text-decoration:none[...]
