---
http_interactions:
- request:
    method: get
    uri: https://staging.osf.io/api/v1/share/data
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"count":111,"next":"https://staging.osf.io/api/v1/share/data/?page=2","previous":null,"results":[{"id":36,"updated":"2015-11-13T20:32:35.608984Z","docID":"http://url.com","source":"test","jsonData":"\"{u''providerUpdatedDateTime'':
        u''2015-07-30T20:15:08.528+00:00'', u''uris'': {u''canonicalUri'': u''https://scholarsphere.psu.edu/files/x346f017s''},
        u''contributors'': [{u''name'': u''Santy, Lorraine C'', u''email'': u''lcs13@psu.edu''}],
        u''title'': u''Set9 ShamR 1.tif''}\"","status":"created"},{"id":38,"updated":"2015-11-13T20:32:35.608984Z","docID":"http://url.com","source":"test","jsonData":"\"{u''providerUpdatedDateTime'':
        u''2015-07-30T20:15:08.528+00:0[...]
- request:
    method: post
    uri: https://staging.osf.io/api/v1/share/data
    body:
      encoding: UTF-8
      string: |
        {
          "jsonData": {
            "contributors": [
              { "name": "Roger Movies Ebert", "email": "rogerebert@example.com" },
              { "name": "Roger Madness Ebert"}
            ],
            "providerUpdatedDateTime": "2014-12-12T00:00:00Z",
            "title": "Interesting research",
            "version": { "versionId": "someID" },
            "uris": {
              "canonicalUri": "http://example.com/document1",
              "providerUris": [ "http://example.com/document1" ]
            }
          }
        }
    headers:
      Authorization:
      - Token SECRET_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id":126,"updated":"2015-11-20T17:27:52.811190Z","docID":"http://example.com/document1","source":"scholarsphere","jsonData":"{u''contributors'':
        [{u''name'': u''Roger Movies Ebert'', u''email'': u''rogerebert@example.com''},
        {u''name'': u''Roger Madness Ebert''}], u''title'': u''Interesting research'',
        ''shareProperties'': {''source'': u''scholarsphere'', ''docID'': u''http://example.com/document1''},
        u''version'': {u''versionId'': u''someID''}, u''providerUpdatedDateTime'':
        u''2014-12-12T00:00:00Z'', u''uris'': {u''canonicalUri'': u''http://example.com/document1'',
        u''providerUris'': [u''http://example.com/document1'']}}","status":"updated"}'
  recorded_at: Fri, 20 Nov 2015 17:27:52 GMT
- request:
    method: get
    uri: https://staging.osf.io/api/v1/share/search/?q=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sentry-Id:
      - None
    body:
      encoding: UTF-8
      string: '{"count": 0, "time": 0.01, "results": [], "aggs": null, "aggregations": null}'
  recorded_at: Fri, 20 Nov 2015 17:27:53 GMT
- request:
    method: get
    uri: https://staging.osf.io/api/v1/share/search/?q=asdf
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sentry-Id:
      - None
    body:
      encoding: UTF-8
      string: '{"count": 2, "time": 0.02, "results": [{"publisher": {"name": "Harvard
        Dataverse"}, "contributors": [{"givenName": "Harry", "additionalName": "",
        "name": "Rybacki, Harry", "familyName": "Rybacki"}], "title": "asdf", "shareProperties":
        {"source": "datacite", "docID": "oai:oai.datacite.org:6759304"}, "otherProperties":
        [{"name": "date", "properties": {"date": ["2015-09-22T00:00:00+00:00"]}},
        {"name": "identifier", "properties": {"identifier": ["doi:10.7910/DVN/CN0E9O",
        "oai:oai.datacite.org:6759304"]}}, {"name": "setSpec", "properties": {"setSpec":
        ["CDL", "CDL.DATAVERS"]}}], "providerUpdatedDateTime": "2015-09-18T17:20:58+00:00",
        "highlight": {}, "uris": {"canonicalUri": "http://dx.doi.org/10.7910/DVN/CN0E9O",
        "objectUris": ["http://dx.doi.org/10.7910/DVN/CN0E9O"]}}, {"description":
        "asdfasdf", "contributors": [{"givenName": "Harry", "additionalName": "",
        "name": "Rybacki, Harry", "familyName": "Rybacki"}], "title": "asdf", "shareProperties":
        {"source": "harvarddataverse", "filetype": "json", "docID": "doi:10.7910/DVN/CN0E9O"},
        "otherProperties": [{"properties": {"serviceID": "doi:10.7910/DVN/CN0E9O"},
        "name": "serviceID"}, {"properties": {"type": "dataset"}, "name": "type"}],
        "providerUpdatedDateTime": "2015-09-18T17:20:47+00:00", "highlight": {}, "uris":
        {"canonicalUri": "http://dx.doi.org/10.7910/DVN/CN0E9O", "objectUris": ["https://dataverse.harvard.edu/api/access/dsCardImage/77006"]}}], 
        "aggs": null, "aggregations": null}'
  recorded_at: Fri, 20 Nov 2015 17:27:54 GMT
recorded_with: VCR 3.0.0
