---
http_interactions:
- request:
    method: post
    uri: https://staging.osf.io/api/v1/share/data
    body:
      encoding: UTF-8
      string: '{"jsonData":{"title":"The Difficulties of Being Green","contributors":[{"name":"Frog,
        Kermit T.","email":"kermit@muppets.org"}],"uris":{"canonicalUri":"https://pooh.local/files/8336h190k"},"providerUpdatedDateTime":"2015-11-03T11:15:44.014+00:00"}}'
    headers:
      Authorization:
      - Token SECRET_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id":85,"collectionDateTime":"2015-11-03T16:15:45.108480Z","source":"scholarsphere","jsonData":"{u''providerUpdatedDateTime'':
        u''2015-11-03T11:15:44.014+00:00'', u''uris'': {u''canonicalUri'': u''https://pooh.local/files/8336h190k''},
        u''contributors'': [{u''name'': u''Frog, Kermit T.'', u''email'': u''kermit@muppets.org''}],
        u''title'': u''The Difficulties of Being Green''}"}'
  recorded_at: Tue, 03 Nov 2015 16:15:45 GMT
recorded_with: VCR 3.0.0
