---
http_interactions:
- request:
    method: get
    uri: https://staging.osf.io/api/v1/share/search/?q=shareProperties.docID:%22http://example.com/document1%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sentry-Id:
      - None
    body:
      encoding: UTF-8
      string: '{"count": 1, "time": 0.01, "results": [{"contributors": [{"name": "Roger
        Movies Ebert", "email": "rogerebert@example.com"}, {"name": "Roger Madness
        Ebert"}], "title": "Interesting research", "shareProperties": {"source": "scholarsphere",
        "docID": "http://example.com/document1"}, "providerUpdatedDateTime": "2014-12-12T00:00:00Z",
        "highlight": {}, "uris": {"canonicalUri": "http://example.com/document1",
        "providerUris": ["http://example.com/document1"]}}], "aggs": null, "aggregations":
        null}'
  recorded_at: Wed, 16 Dec 2015 17:55:19 GMT
- request:
    method: get
    uri: https://staging.osf.io/api/v1/share/search/?q=shareProperties.docID:%22http://example.com/bogusDoc%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sentry-Id:
      - None
    body:
      encoding: UTF-8
      string: '{"count": 0, "time": 0.01, "results": [], "aggs": null, "aggregations":
        null}'
  recorded_at: Wed, 16 Dec 2015 17:55:23 GMT
recorded_with: VCR 3.0.0
