---
http_interactions:
- request:
    method: get
    uri: https://staging.osf.io/api/v1/share/data
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '[{"id":36,"collectionDateTime":"2015-10-27T16:44:33.308944Z","source":"scholarsphere","jsonData":"{u''providerUpdatedDateTime'':
        u''2015-07-30T20:15:08.528+00:00'', u''uris'': {u''canonicalUri'': u''https://scholarsphere.psu.edu/files/x346f017s''},
        u''contributors'': [{u''name'': u''Santy, Lorraine C'', u''email'': u''lcs13@psu.edu''}],
        u''title'': u''Set9 ShamR 1.tif''}"},{"id":38,"collectionDateTime":"2015-10-27T16:53:51.555120Z","source":"scholarsphere","jsonData":"{u''providerUpdatedDateTime'':
        u''2015-07-30T20:15:08.528+00:00'', u''uris'': {u''canonicalU[...]
- request:
    method: get
    uri: https://staging.osf.io/api/v1/share/share/?q=something
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json
      X-Sentry-Id:
      - None
    body:
      encoding: UTF-8
      string: '{"code": 404, "referrer": null, "message_short": "Page not found",
        "message_long": "The requested resource could not be found. If this should
        not have occurred and the issue persists, please report it to <a href=\"mailto:support@osf.io\">support@osf.io</a>."}'
  recorded_at: Tue, 27 Oct 2015 18:52:07 GMT
- request:
    method: post
    uri: https://staging.osf.io/api/v1/share/data
    body:
      encoding: UTF-8
      string: |
        {
          "jsonData": {
            "title": "Set9 ShamR 1.tif",
            "contributors": [
              {
                "name": "Santy, Lorraine C",
                "email": "lcs13@psu.edu"
              }
            ],
            "uris": {
              "canonicalUri": "https://scholarsphere.psu.edu/files/x346f017s"
            },
            "providerUpdatedDateTime": "2015-07-30T20:15:08.528+00:00"
          }
        }
    headers:
      Authorization:
      - Token SECRET_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id":52,"collectionDateTime":"2015-10-27T19:05:29.333303Z","source":"scholarsphere","jsonData":"{u''providerUpdatedDateTime'':
        u''2015-07-30T20:15:08.528+00:00'', u''uris'': {u''canonicalUri'': u''https://scholarsphere.psu.edu/files/x346f017s''},
        u''contributors'': [{u''name'': u''Santy, Lorraine C'', u''email'': u''lcs13@psu.edu''}],
        u''title'': u''Set9 ShamR 1.tif''}"}'
  recorded_at: Tue, 27 Oct 2015 19:05:29 GMT
recorded_with: VCR 2.9.3
