<div class="show-download">
  <% unless presenter.uploading? %>
    <%= link_to main_app.download_path(presenter),
                target: :_blank,
                data: { turbolinks: false },
                class: "btn btn-default" do %>
      <%= t('curation_concerns.show.downloadable_content.work_zip_link') %>
    <% end %>
  <% end %>
</div>
