<div class="show-download">
  <% if presenter.zip_available? %>
    <%= link_to presenter.zip_download_path,
                target: :_blank,
                data: { turbolinks: false },
                class: 'btn btn-default' do %>
      <%= t('curation_concerns.show.downloadable_content.work_zip_link') %>
    <% end %>
  <% end %>
</div>
