<h2><%= t('scholarsphere.generic_work.readme_heading') %></h2>
<section class="readme">
  <% if presenter.readme.present? %>
    <%= raw(presenter.readme) %>
  <% else %>
    <p><%= I18n.t('scholarsphere.generic_work.readme_text_html').html_safe %></p>
  <% end %>
</section>
