<h2><%= t('scholarsphere.generic_work.readme_heading') %></h2>
<section class="readme">
  <% if presenter.readme %>
    <%= raw(presenter.readme) %>
  <% elsif presenter.readme_prompt %>
    <p><%= presenter.readme_prompt %></p>
  <% end %>
</section>
