<li>
  <table class="table">
    <tr>
      <th><h4>Title:</h4></th>
      <td><%= document.title %></td>
    </tr>
    <tr>
      <th><h4>Description:</h4></th>
      <td><%= iconify_auto_link(document.description) %></th>
    </tr>
  </table>
</li>
