<h1><%= t('errors.active_fedora_object_not_found_error.title') %></h1>

<p><%= t('errors.active_fedora_object_not_found_error.message') %></p>

<p>
  If this error continues please use the <a href="/contact/">the contact form</a>
  for assistance uploading your content"
</p>
