<h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Directory Info (LDAP) <%= link_to 'Edit Instructions', 'http://www.psu.edu/directory/#update', class: 'btn btn-mini btn-primary' %></h3>
<%= render 'user_info', user: @user %>

<hr />

<h3><span class="glyphicon glyphicon-group" aria-hidden="true"></span> User Managed Groups Info (UMG)
  <%= link_to 'Manage UMG', 'https://accounts.psu.edu/account-management-ui/', class: 'btn btn-xs btn-primary' %>
</h3>
<% current_user.groups.each do |g| %>
  <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> <%= g %><br />
<% end %>
