<h2>Authorize Proxy</h2>

Search <%=hidden_field_tag :user %>

<table class="table table-condensed" id='authorizedProxies'>
  <caption>Currently Authorized</caption>
  <tbody>
    <% @user.can_receive_deposits_from.each do |depositor| %>
      <tr><td><%= depositor.name %></td>
        <td><%=link_to(user_depositor_path(@user.user_key, depositor.user_key), method: :delete, class: "remove-proxy-button") do %>
          <i class="icon-remove"></i><% end %>
        </td></tr>
    <% end %>
  </tbody>
</table>

<script type="text/x-tmpl" id="tmpl-proxy-row">
  <tr><td class="depositor-name">{%=o.name%}</td><td class="remove-proxy-button" data-id="{%=o.id%}"><i class="icon-remove"></i></td></tr>
</script>
