      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#contributions"><i class="glyphicon glyphicon-star"></i> Highlighted Contributions</a></li>
        <li><a href="#profile"><i class="glyphicon glyphicon-info-sign"></i> Profile</a></li>
        <li><a href="#proxies" ><i class="fa fa-group"></i> Proxies</a></li>
        <li><a href="#activity_log" ><i class="fa fa-rss"></i> Activity</a></li>
      </ul>
       
      <div class="tab-content">
        <%= render 'contributions' %>
        <%= render 'profile' %>
        <%= render 'proxies' %>
        <%= render 'activity' %>
      </div> <!-- /tab-content -->
