<div class="profile">
  <h1 class="sr-only">User Profile</h1>
  <div class="col-xs-12 col-sm-3">
    <%= render 'left_sidebar' %>
  </div>
  <div class="col-xs-12 col-sm-9">
    <%= render 'profile_tabs', presenter: @presenter %>
  </div>
</div>
