<footer class="footer-wrapper container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <span class="footer-logo pull-left"><a href="/"><span class="footer-logo-bold">Scholar</span>Sphere</a></span>
      <span class="footer-version"><a href="/versions/"><%= ScholarSphere::Application::config.scholarsphere_version %></a></span>
      <p class="footer-service">A service of the University Libraries.</p>
    </div>
    <div class="col-xs-6 footer-text">
        <p>Copyright &copy; <%= Date.today.year %> The Pennsylvania State University</p>
        <ul class="footer-text-links-list">
          <li><a href="http://psu.edu">Penn State</a> &#124; </li>
          <li><a href="http://libraries.psu.edu">University Libraries</a> &#124; </li>
          <li><a href="http://accessibility.psu.edu/">Accessibility</a></li>
        </ul>
    </div>
  </div>
</footer>
