# Figaro configuration file
# For further instructions see: http://sites.psu.edu/dltdocs/?p=3521
# Each key under production is checked in Scholarsphere::Config to ensure that files on servers
# are correct. Add or removing any keys here must include a corresponding change to
# Scholarsphere::Config::REQUIREMENTS otherwise, the cap deploy will fail.
#
development:
  ffmpeg_path: "ffmpeg"
  service_instance: "localhost"
  virtual_host: "http://localhost:3000/"
  stats_email: "ScholarSphere Stats <umg-up.its.sas.scholarsphere-email@groups.ucs.psu.edu>"
  google_analytics_id: "test-id"
  read_only: "false"
  doi_user: 'ss1'
  doi_password: 'password'
  RECAPTCHA_SITE_KEY: 'site-key'
  RECAPTCHA_SECRET_KEY: 'secret-key'
  backup_directory: 'backups'
test:
  ffmpeg_path: "ffmpeg-test"
  service_instance: "example-test"
  virtual_host: "http://test.com/"
  stats_email: "Test email"
  google_analytics_id: "test-id"
  read_only: "false"
  RECAPTCHA_SITE_KEY: 'site-key'
  RECAPTCHA_SECRET_KEY: 'secret-key'
  backup_directory: 'backups_test'
production:
  TMPDIR: "/tmp"
  ffmpeg_path: "ffmpeg-test"
  service_instance: "example-prod"
  virtual_host: "http://test.com/"
  stats_email: "Test email"
  google_analytics_id: "test-id"
  derivatives_path: "path"
  read_only: "false"
  doi_user: 'ss1'
  doi_password: 'password'
  RECAPTCHA_SITE_KEY: 'site-key'
  RECAPTCHA_SECRET_KEY: 'secret-key'
