<h1 class="sr-only">Help</h1>

<h2 style="toc"> Table of Contents</h2>
  <ol>
    <li>
      <a href="#user_support">User Support</a>
    </li>
    <li>
      <a href="#support_hours">Support Hours</a>
    </li>
    <li>
      <a href="#faq">Frequently Asked Questions</a>
    </li>
    <li>
      <a href="#user_guide">User Guides</a>
    </li>
    <li>
      <a href="#how_to">How-To Videos</a>
    </li>
  </ol>

<h2 id="user_support">User Support</h2>
<p>If you need to report a problem using ScholarSphere, or would like to request service assistance, consultation, or share feedback, please use the following contact options: </p>
<ul>
  <li>Submit your issue via the <a href="https://scholarsphere.psu.edu/contact" title="Contact for ScholarSphere support">Contact Form</a>. The form will go to ScholarSphere User Services, and a librarian will get back to you within two business days</li>
  <li>ScholarSphere phone line: (814) 865-2486. Your call will be answered, or voicemail returned, by staff in <a href="http://www.libraries.psu.edu/psul/pubcur.html" target="_blank">Publishing and Curation Services</a> in the <a href="http://www.libraries.psu.edu/psul/home.html" target="_blank">University Libraries</a>.</li>
</ul>

<h2 id="support_hours">Support Hours</h2>
<ul>
  <li>Service Hours: Monday - Friday 8:00 AM - 5:00 PM</li>
  <li>System Maintenance Hours: To keep systems running at peak performance, and to ensure the best possible service, routine testing and maintenance are performed during the daily maintenance window from 5:00 a.m. to 7:00 a.m. EST/EDT. During this time, systems and services may be affected</li>
</ul>

<h2 id="faq">Frequently Asked Questions</h2>
<%= editable_content_block @page %>
<%= tiny_mce_stuff if can? :update, ContentBlock%>

  <!--<h3>Using the ScholarSphere Service</h3>-->
    <!--<p><strong>Who can use ScholarSphere?</strong></p>-->
    <!--<ul>-->
      <!--<li>Anyone can search ScholarSphere. In order to deposit files into ScholarSphere,-->
        <!--you must be a Penn State faculty, student, or staff, with a current Web-->
        <!--Access Account ID and password. Penn State emeriti faculty may also use-->
        <!--ScholarSphere.-->
      <!--</li>-->
    <!--</ul>-->
    <!--<p><strong>Does it cost anything to upload to ScholarSphere?</strong></p>-->
    <!--<ul>-->
      <!--<li>No, the University provides this service at no cost to current Penn State faculty, students, and staff and to-->
        <!--emeriti faculty.-->
      <!--</li>-->
    <!--</ul>-->
    <!--<p>-->
      <!--<strong>Can I use ScholarSphere for managing my data, to comply with data management plan (DMP) requirements?</strong>-->
    <!--</p>-->
    <!--<ul>-->
      <!--<li>Yes!&nbsp;<span>Researchers are welcome to use this boilerplate language, adapting and revising as-->
        <!--needed, into their data management plans – see:&nbsp;</span><a href="https://scholarsphere.psu.edu/downloads/cv43nw822">Boilerplate-->
        <!--Language for DMPs</a><span>.&nbsp;</span>-->
      <!--</li>-->
      <!--<li>-->
        <!--<span>In addition, you are strongly encouraged to contact Patricia Hswe, Digital-->
              <!--Content Strategist in the Libraries’ Publishing and Curation Services,-->
              <!--to ensure the best possible planning for your research (email: <a href="mailto:pmh22@psu.edu">pmh22@psu.edu</a>; phone: 814-867-3702). We also suggest that you also consult these resources from the Libraries:</span>-->
        <!--<ol>-->
          <!--<li><a href="http://www.libraries.psu.edu/psul/researchguides/pubcur/datatoolkit.html">Data Management Toolkit</a>-->
          <!--</li>-->
          <!--<li><a href="http://www.libraries.psu.edu/psul/researchguides/pubcur/data_resources.html">Data Repository Services-->
            <!--and Tools</a></li>-->
          <!--<li><a href="https://dmptool.org/">DMP Tool</a>&nbsp;(Penn-->
            <!--State has an institutional login; just use your access account ID and-->
            <!--password – only you see any DMPs you create with this tool)-->
          <!--</li>-->
          <!--<li><a href="https://www.e-education.psu.edu/dmpt/">DMP Tutorial</a></li>-->
        <!--</ol>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<p><strong>I'm interested in uploading my articles to ScholarSphere make it open access. How do I know what I can-->
      <!--upload?</strong></p>-->
    <!--<ul>-->
      <!--<li>Typically,-->
        <!--scholarly publishers allow researchers to upload the version of the-->
        <!--article before it was published, i.e., the pre-print article, or the-->
        <!--version of it after it was submitted and peer-reviewed, i.e., the-->
        <!--post-print.&nbsp;</li>-->
      <!--<li>The best resource to consult on this is <a href="http://sherpa.ac.uk/romeo">SHERPA/RoMEO</a>,-->
        <!--where you can look up the journal in which the article appeared, or the-->
        <!--publisher of the journal, and see what they allow for deposits into-->
        <!--institutional repositories.-->
      <!--</li>-->
    <!--</ul>-->
    <!--<p><strong>What happens to my files in ScholarSphere after I leave Penn State?</strong></p>-->
    <!--<ul>-->
      <!--<li>The files remain in ScholarSphere and continue to be discoverable,-->
        <!--accessible, and citable, since ScholarSphere is a preservation as well-->
        <!--as access service. If you have any questions or concerns about your-->
        <!--files after you have left Penn State, you may submit them via our-->
        <!--<a href="https://scholarsphere.psu.edu/contact">Contact Form</a>.-->
      <!--</li>-->
    <!--</ul>-->
  <!--<h3>Uploading Files to ScholarSphere</h3>-->
    <!--<p><strong>How large can a file be to be uploaded to ScholarSphere?</strong></p>-->
    <!--<ul>-->
      <!--<li>Just under 2 GBs. &nbsp;This is not uncommon for web-based uploads. The-->
        <!--larger the file, the more likely a timeout will occur.&nbsp;</li>-->
    <!--</ul>-->
    <!--<p><strong>How large a file can I upload via Dropbox and Box?</strong></p>-->
    <!--<ul>-->
      <!--<li>The maximum for uploading via Dropbox is 1.9 GB. Via Box, it is 5 GB.</li>-->
    <!--</ul>-->
    <!--<p><strong>What's the difference between ScholarSphere and cloud services like Dropbox and Box?</strong></p>-->
    <!--<ul>-->
      <!--<li>-->
        <!--<ol>-->
          <!--<li><strong>Reliability:</strong>&nbsp;ScholarSphere-->
            <!--is a Penn State service that is fully funded and supported by the-->
            <!--University Libraries and Information Technology Services. That is, the-->
            <!--two most reputable organizations at Penn State responsible for knowledge-->
            <!--management and information security and organization oversee the-->
            <!--service and the infrastructure supporting it, to make persistently-->
            <!--accessible the content that is deposited into ScholarSphere.-->
          <!--</li>-->
          <!--<li><strong>Preservation:</strong>&nbsp;Our-->
            <!--main focus is to preserve your scholarly work and make it accessible-->
            <!--for the long term. Files deposited into ScholarSphere undergo audits and-->
            <!--other digital preservation checks. This helps ensure that your-->
            <!--scholarship will be available for generations to come. Dropbox and Box,-->
            <!--on the other hand, are primarily file-sharing and file-storage services,-->
            <!--rather than digital repository services implementing digital-->
            <!--preservation best practices.-->
          <!--</li>-->
          <!--<li><strong>Sharing scholarship for public access:</strong>&nbsp;ScholarSphere-->
            <!--collects scholarly and scientific research outputs primarily for public-->
            <!--access to them, largely in accordance with Open Access principles and-->
            <!--in compliance with funding agency data management planning requirements.-->
            <!--As commercial services focused mainly on file sharing and file storage,-->
            <!--Dropbox and Box are open to a variety of content, rather than only-->
            <!--scholarly materials.&nbsp;</li>-->
        <!--</ol>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<p><strong>Are there limits to how much I can deposit into ScholarSphere?</strong></p>-->
    <!--<ul>-->
      <!--<li>At present, no. You may deposit as many files as you need to.</li>-->
    <!--</ul>-->
    <!--<p><strong>How can I get larger files into ScholarSphere?</strong></p>-->
    <!--<ul>-->
      <!--<li>Submit your request through our <a href="https://scholarsphere.psu.edu/contact">Contact Form</a>, and a service-->
        <!--team member will get back to you.-->
      <!--</li>-->
    <!--</ul><h3>Creating Collections (Sets or Groups of Files) in ScholarSphere</h3>-->
    <!--<p><strong>How do I create collections, or group my files, in ScholarSphere?</strong></p>-->
    <!--<ul>-->
      <!--<li>Please see this "<a href="https://scholarsphere.psu.edu/collection.pdf">cheat sheet</a>" (PDF) on creating-->
        <!--collections and/or view the demonstration video below.-->
      <!--</li>-->
    <!--</ul>-->
    <!--<p><strong>I have only private files in my collection, but I notice that my collection is public. Can people see the-->
        <!--files in it?</strong></p>-->
    <!--<ul>-->
      <!--<li>If-->
        <!--the files you have in your collection are private, then no one but you-->
        <!--can see those files. (If you share those files with another Penn State-->
        <!--user, then he/she will be able to see them.)&nbsp;</li>-->
    <!--</ul>-->
    <!--<p><strong>Is it possible to share collections, the way we can share files in-->
      <!--ScholarSphere, so that more than one person can administer or manage the-->
      <!--collection?</strong></p>-->
    <!--<ul>-->
      <!--<li>At the moment, no. For now, one person is responsible for starting, and adding to, a collection.</li>-->
    <!--</ul>-->
    <!--<p><strong>Can I delete a collection I've created?</strong></p>-->
    <!--<ul>-->
      <!--<li>Yes, it's possible to delete a collection you have created. Make sure you're logged into ScholarSphere, then from your dashboard,-->
        <!--go to "View Collections," which will take you to the "My collections" tab and show a listing of collections.-->
        <!--To the far right of a collection name, you'll see a drop-down menu labeled "Select an action." Click on the arrow pointing down, and there you'll see the option for "Delete Collection."-->
        <!--Select that option, and  your collection will be deleted. If you have any further questions about this, please inquire through our <a href="https://scholarsphere.psu.edu/contact">Contact Form</a>.-->
      <!--</li>-->
    <!--</ul>-->
<p>

<h2 id="user_guide">User Guides</h2>
  <p>For step-by-step instructions on how to upload a file to ScholarSphere: <a href="/getting-started.pdf" target="_blank">Getting Started</a></p>
  <p>For step-by-step instructions on how to create a collection in ScholarSphere: <a href="/collection.pdf" target="_blank">Collections</a></p>
  <p/>
<h2 id="how_to">How-To Videos: Uploading Files and Creating Collections</h2>
  <br/>
  <div class="row" >
    <div class="col-xs-12 col-sm-6">
      <iframe title="How to upload files into ScholarSphere." width="100%" height="315" src="https://www.youtube.com/embed/MqpXMH_6JXo?rel=0" frameborder="0" allowfullscreen></iframe>
      <p>How to upload files into ScholarSphere.</p>
    </div>
    <div class="col-xs-12 col-sm-6">
    <iframe title="How to create a collection in ScholarSphere" width="100%" height="315" src="https://www.youtube.com/embed/b7W4qebH8XI?rel=0" frameborder="0" allowfullscreen></iframe>
    <p>How to create a collection in ScholarSphere</p>
    </div>
  </div>
  <p>*For additional assistance using ScholarSphere, please submit a request for consultation via the Contact Form (link to contact form)</p>
