<h1 class="sr-only">Help</h1>

<h2>User Support</h2>
<p>If you need to report a problem using ScholarSphere, or would like to request service assistance, consultation, or share feedback, please use the following contact options: </p>
<ul>
  <li>Submit your issue via the <a href="https://scholarsphere.psu.edu/contact" title="Contact for ScholarSphere support">Contact Form</a>. The form will go to ScholarSphere User Services, and a librarian will get back to you within two business days</li>
  <li>ScholarSphere phone line: (814) 865-2486. Your call will be answered, or voicemail returned, by staff in <a href="http://www.libraries.psu.edu/psul/pubcur.html" target="_blank">Publishing and Curation Services</a> in the <a href="http://www.libraries.psu.edu/psul/home.html" target="_blank">University Libraries</a>.</li>
</ul>

<h2>Support Hours</h2>
<ul>
  <li>Service Hours: Monday - Friday 8:00 AM - 5:00 PM</li>
  <li>System Maintenance Hours: To keep systems running at peak performance, and to ensure the best possible service, routine testing and maintenance are performed during the daily maintenance window from 5:00 a.m. to 7:00 a.m. EST/EDT. During this time, systems and services may be affected</li>
</ul>

<h2 id="faq">Frequently Asked Questions</h2>
<p>How large a file can I upload to ScholarSphere, using Box and Dropbox?</p>
<ul>
  <li>As of November 2014, maximum size for uploads via Box and Dropbox is 1.9GB. The maximum size will increase significantly once we upgrade our asset management infrastructure in early 2015, which the ScholarSphere team will be testing thoroughly to identify the maximum size.</li>
</ul>
<p>Who can deposit content into ScholarSphere?</p>
<ul><li>Penn State faculty, students and staff may deposit content into ScholarSphere, free of charge.  All that is required is a Penn State access account ID and password. Users who are external to Penn State may view and download open access (publicly available) content. </li></ul>
<p>What’s the difference between ScholarSphere and Box.com or Dropbox.com?</p>
<ul>
  <li>ScholarSphere differs from these cloud storage providers in three important ways:
      <ol>
        <li><b>Reliability:</b> ScholarSphere is a Penn State service that is fully funded and supported by the University. The two most reputable organizations at Penn State responsible for knowledge management and information security and organization, the University Libraries and Information Technology Services, manage and make persistently accessible the content that is deposited into ScholarSphere.</li>
        <li><b>Preservation:</b> Our main focus is to preserve your scholarly work and make it accessible for the long term.  Files deposited into ScholarSphere undergo audits and other digital preservation checks. This helps ensure that your scholarship will be available for generations to come. Dropbox and Box are commercial services – businesses – whose main objectives are to enable file sharing and file storage.</li>
        <li><b>Sharing:</b> ScholarSphere gives you the option to share your work with a worldwide audience. Permissions may be set for each file that you upload (public, Penn State only, or private).  If you choose to make your content publicly accessible, researchers from around the world can easily discover and find your work via major search engines, such as Google.</li>
      </ol>
  </li>
</ul>
<p>Can I reference ScholarSphere in my data management plan for a federal grant?</p>
<ul>
  <li>Yes!  ScholarSphere is an optimal service for making your federally funded research openly accessible to the public and meeting the requirements of federal funding agencies. Researchers are welcome to use this boilerplate language, adapting and revising as needed, into their data management plans – see: <a href="https://scholarsphere.psu.edu/downloads/cv43nw822" target="_blank">Boilerplate Language for DMPs</a>. In addition, you are strongly encouraged to contact Patricia Hswe, Digital Content Strategist in the Libraries’ Publishing and Curation Services, to ensure the best possible planning for your research (email: pmh22@psu.edu; phone: 814-867-3702). We also suggest that you also consult these resources from the Libraries:
    <ol>
      <li><a href="http://www.libraries.psu.edu/psul/researchguides/pubcur/datatoolkit.html" target="_blank">Data Management Toolkit</a></li>
      <li><a href="http://www.libraries.psu.edu/psul/researchguides/pubcur/data_resources.html" target="_blank"> Data Repository Services and Tools</a></li>
      <li><a href="https://dmptool.org/" target="_blank">DMP Tool</a> (Penn State has institutional login; just use your access account ID and password – only you see any DMPs you create with this tool)</li>
      <li><a href="https://www.e-education.psu.edu/dmpt/" target="_blank">DMP Tutorial</a></li>
    </ol>
  </li></ul>


<h2>User Guides</h2>
<p>For step-by-step instructions on how to upload a file to ScholarSphere: <a href="/getting-started.pdf" target="_blank">Getting Started</a></p>
<p>For step-by-step instructions on how to create a collection in ScholarSphere: <a href="/collection.pdf" target="_blank">Collections</a></p>
<p/>
<h2>How-To Videos: Uploading Files and Creating Collections</h2>
<br/>
<div class="row" >
  <div class="col-xs-12 col-sm-6">
    <iframe title="How to upload files into ScholarSphere." width="100%" height="315" src="https://www.youtube.com/embed/MqpXMH_6JXo?rel=0" frameborder="0" allowfullscreen></iframe>
    <p>How to upload files into ScholarSphere.</p>
  </div>
  <div class="col-xs-12 col-sm-6">
  <iframe title="How to create a collection in ScholarSphere" width="100%" height="315" src="https://www.youtube.com/embed/b7W4qebH8XI?rel=0" frameborder="0" allowfullscreen></iframe>
  <p>How to create a collection in ScholarSphere</p>
  </div>
</div>
<p>*For additional assistance using ScholarSphere, please submit a request for consultation via the Contact Form (link to contact form)</p>
