<% provide :page_title, 'Help | ScholarSphere' %>
<h1 class="sr-only">Help</h1>

<h2> Table of Contents</h2>
  <ol>
    <li>
      <a href="#user_support">User Support</a>
    </li>
    <li>
      <a href="#support_hours">Support Hours</a>
    </li>
    <li>
      <a href="#faq">Frequently Asked Questions</a>
    </li>
  </ol>

<h2 id="user_support">User Support</h2>
<p>If you need to report a problem using ScholarSphere, or would like to request service assistance, consultation, or share feedback, please use the following contact options: </p>
<ul>
  <li>Submit your issue via the <a href="https://scholarsphere.psu.edu/contact" title="Contact for ScholarSphere support">Contact Form</a>. The form will go to ScholarSphere User Services, and a librarian will get back to you within two business days</li>
  <li>ScholarSphere phone line: (814) 865-2486. Your call will be answered, or voicemail returned, by staff in <a href="https://libraries.psu.edu/about/departments/publishing-and-curation-services" target="_blank">Publishing and Curation Services</a> in the <a href="http://www.libraries.psu.edu/psul/home.html" target="_blank">University Libraries</a>.</li>
</ul>

<h2 id="support_hours">Support Hours</h2>
<ul>
  <li>Service Hours: Monday - Friday 8:00 AM - 5:00 PM</li>
  <li>System Maintenance Hours: To keep systems running at peak performance, and to ensure the best possible service, routine testing and maintenance are performed during the daily maintenance window from 5:00 a.m. to 7:00 a.m. EST/EDT. During this time, systems and services may be affected</li>
</ul>

<h2 id="faq">Frequently Asked Questions</h2>
<%= editable_content_block @page %>
<%= tiny_mce_stuff if can? :update, ContentBlock %>
