<h1>Versions</h1>
<h2>Version <%= String.new(ScholarSphere::Application::config.scholarsphere_version).sub "v", "" %> (<%= ScholarSphere::Application::config.scholarsphere_release_date %>)</h2>
<p>
<ul>
  <li>Available DOI creation for Works and Collections</li>
  <li>Collection Editing Sharing</li>
</ul>
</p>

<h2>Version 3.2 (December 1, 2017)</h2>
<p>
<ul>
  <li>Creator metadata changed to include optional email and PennState id fields to better identify the resource creator.</li>
</ul>
</p>

<h2>Version 3.1 (September 26, 2017)</h2>
<p>
<ul>
  <li>Improvements in Google Analytics integration efficiency</li>
  <li>Updated Work metadata to separate subtitles from the title</li>
  <li>Additional upload error feedback</li>
</ul>
</p>

<h2>Version 3.0 (June 9, 2017)</h2>
<p>
  <ul>
    <li>Improvements to accessibility</li>
    <li>Ability to upload multi-file works</li>
    <li>Embargoes and leases for files</li>
    <li>Private permissions are no longer allowed, only embargoes for up to two years</li>
  </ul>
</p>

<h2>Version 2.8 (October 24, 2016)</h2>
<p>
  <ul>
    <li>Collections can now have permissions other than open access.</li>
  </ul>
</p>

<h2>Version 2.7 (June 15, 2016)</h2>
<p>
  <ul>
    <li>Subscription integration with Zotero publications.</li>
  </ul>
</p>

<h2>Version 2.6 (April 12, 2016)</h2>
<p>
<ul>
  <li>Automatic Deletion from SHARE Notify when a file is removed from ScholarSphere</li>
  <li>Administration abilities to edit metadata and access</li>
</ul>
</p>

<h2>Version 2.5 (January 14, 2016)</h2>
<p>
<ul>
  <li>Integration with <%= link_to "SHARE Notify", "https://osf.io/share", target: "_blank" %></li>
</ul>
</p>

<h2>Version 2.4 (October 8, 2015)</h2>
<p>
<ul>
  <li>User Interface updates for style and accessibility</li>
  <li>Upgrades to System Level Administration Functions
    <ul>
      <li>Export capabilities for deposit statistics</li>
    </ul>
  </li>
</ul>
</p>
<h2>Version 2.3 (July 16, 2015)</h2>
<p>
<ul>
  <li>User Interface updates for style and accessibility</li>
  <li>Upgrades to System Level Administration Functions
    <ul>
      <li>Enhanced functionality for user / deposit statistics</li>
      <li>Additional editor capabilities for service team admins</li>
    </ul>
  </li>
</ul>
</p>
<h2>Version 2.2 (April 11, 2015)</h2>
<p>
<ul>
  <li>5GB maximum file upload Size</li>
  <li>Updated File show view</li>
  <li>New metadata editing forms</li>
  <li><a href="https://wiki.duraspace.org/display/FF/Fedora+Repository+Home" target="_blank">Fedora 4</a> support</li>
</ul>
</p>
<h2>Version 2.1 (January 16, 2015)</h2>
<p>
  <ul>
    <li>Statistics on the number of times users' files have been viewed and downloaded by others are now available back to March 22, 2013.  Users may view these statistics on the <a href="/dashboard">Dashboard</a>.</li>
    <li>The User Profile page has been updated to allow entry of <a href="http://orcid.org/">ORCID identifiers</a>.</li>
    <li>When assigning permissions, proxy authorization, and file transfers, users are now able to search for individuals by typing in their name, as well as their Penn State ID.</li>
    <li>Google Scholar integration has been enabled for all open access files</li>
  </ul>
</p>
<h2>Version 2.0 (September 10, 2014)</h2>
<p>
  <ul>
    <li>Redesign of the user interface, including:
    <ul><li>Integration of responsive design for fluidity and flexibility of access to ScholarSphere across mobile and traditional devices</li></ul></li>
    <li>Introduction of new components on the home page:
      <ul>
        <li>Feature Works</li>
        <li>Featured Researcher</li>
        <li>Phrase cloud for additional browsing functionality</li>
      </ul>
    </li>
    <li>Revamp of dashboard interface as the portal to the file upload screen, collections view, file view, and collections creation</li>
    <li>New displays for collections and file viewing</li>
    <li>Analytics graph showing impact for each file deposited</li>
    <li>Integration with additional cloud services, such as Box </li>
  </ul>
</p>
<h2>Version 1.10 (April 10, 2014)</h2>
<p>
<ul>
  <li>Adding pagination on collection show and edit pages</li>
  <li>Displaying file permissions on the generic file show page</li>
  <li>Changed resource type "Master's Thesis" to "Thesis" on the Descriptions (metadata) template.</li>
</ul>
</p>
<h2>Version 1.9 (February 13, 2014)</h2>
<p>
<ul>
  <li>Fixed bugs with Facets not displaying in Safari</li>
  <li>Added validation to Collections to require a Title</li>
  <li>Included query links on GenericFile Show page</li>
  <li>Fixed user profile page to display the correct number of deposited files</li>
  <li>Made highlighted files easier to remove and thus manage</li>
  <li>Added relative date to notifications page</li>
</ul>
</p>
<h2>Version 1.8 (November 26, 2013)</h2>
<p>
  <ul>
    <li>Enhancements to the deployment process.</li>
  </ul>
</p>
<h2>Version 1.7 (July 9, 2013)</h2>
<p>
  <ul>
    <li>Users can upload files on behalf of other users for approval.</li>
    <li>Users can designate others to be authorized to upload files for them to by pass a case-by-case authorization process.</li>
    <li>Files that have been uploaded to ScholarSphere can be logically arranged into collections.</li>
    <li>Users can authenticate to their Dropbox account from the ScholarSphere upload screen and import files into ScholarSphere.</li>
  </ul>
</p>
<h2>Version 1.6 (May 29, 2013)</h2>
<p>
  <ul>
    <li>Users can transfer ownership of files to other users.</li>
    <li>Performance enhancements.</li>
    <li>Highlighted files on user profile page display thumbnail images.</li>
    <li>Dashboard actions arranged into dropdown list.</li>
    <li>Users receive email confirmation of contact form submission.</li>
  </ul>
</p>

<h2>Version 1.5 (Apr 30, 2013)</h2>
<p>
  <ul>
    <li>Maximum size for an individual file raised to 500MB.</li>
    <li>Maximum size for a total upload raised to 1GB.</li>
    <li>Walkthrough videos added to help page.</li>
    <li>Titles of uploaded files now appear in the browser's titlebar.</li>
    <li>List of following/follower users on user profiles enhanced.</li>
    <li>Unicode characters pasted into metadata fields no longer break batch updates.</li>
    <li>Site administrators may now view usage statistics.</li>
  </ul>
</p>

<h2>Version 1.4 (Mar 13, 2013)</h2>
<p>
  <ul>
    <li>Full-text indexing and searching.</li>
    <li>Removed Google+ accounts from user profiles.</li>
    <li>Added LinkedIn accounts to user profiles.</li>
  </ul>
</p>

<h2>Version 1.3 (Dec 18,2012)</h2>
<p>
  <ul>
    <li>ScholarSphere version is in the footer (linked to new features).</li>
    <li>Users have the ability to make their social accounts visible from their profile page in ScholarSphere.</li>
    <li>Users have access to the list of users in the ScholarSphere system by clicking the View Users button from their profile page.</li>
    <li>Users can highlight up to five files from their dashboard, and have them display on their profile page.</li>
    <li>Single-use links are available from the dashboard.</li>
   </ul>
</p>

<h2>Version 1.2 (Nov 7, 2012)</h2>
<p>
  <ul>
    <li>Added batch edit and delete.</li>
    <li>Notifications are pushed automatically, and no longer require page refresh.</li>
  </ul>
</p>

<h2>Version 1.1 (Sept 24, 2012)</h2>
<p>
  <ul>
    <li>Moved batch processing for metadata to background processing to speed uploads.</li>
  </ul>
</p>

<h2>Version 1.0 (Sept 11, 2012) </h2>
<p>
  <ul>
    <li>Initial release of ScholarSphere.</li>
  </ul>
</p>

<h2> Known Issues</h2>
<p>
<ul>
  <li>Video playback on IE is spotty.  Some versions of Firefox playback video, but not all</li>
</ul>
</p>
<h2 id="photo_credit">Photo Credits</h2>
<p>The graphic on the home page was created by Michael Tribone, Web Designer/Developer in Services and Solutions. It is a design that draws on, and integrates, the following content in ScholarSphere:
<ul>
  <li><a href="https://scholarsphere.psu.edu/files/sf268c834">Cell biology data sets in TIF format (black-and-white images) </a></li>
  <li><a href="https://scholarsphere.psu.edu/files/sf268940x">The Black Widow Pulsar Systems (research poster) </a></li>
  <li><a href="https://scholarsphere.psu.edu/files/sf2687554">Cleveland and Ammon, 2013: Relocated earthquakes map</a></li>
  <li><a href="https://scholarsphere.psu.edu/files/sf268756d">Cleveland and Ammon, 2013: USGS earthquake locations</a></li>
  <li><a href="https://scholarsphere.psu.edu/files/bn999674d">OnandataAtUV1963-1965</a></li>
  <li><a href="https://scholarsphere.psu.edu/files/cv43nw81s">Mexican Onandata Larvae Figures</a></li>
</ul>
</p>
