<div class="col-xs-12 heading-row">
  <div class="col-xs-3 hidden-xs">
    <h1><%= t("sufia.dashboard.title") %></h1>
  </div>
  <div class="col-xs-9">
    <h2><%= t("sufia.dashboard.greeting") + current_user.name %><%= link_to("System Statistics", sufia.admin_stats_path, class: "admin_stats_link") if can? :admin_stats, current_user %></h2>
  </div>
</div>