<!-- this open div/row matches with the close div in _index_list_default.html.erb -->
<div class="row">
  <div class="col-sm-3">
      <span class="fa fa-cubes collection-icon-search"></span>
  </div>
