<div id="content" class="col-sm-8 col-sm-push-4 col-md-9 col-md-push-3">
  <%= render 'search_results' %>
</div>
<div id="sidebar" class="col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9">
  <%= render 'search_sidebar' %>
</div>
