.btn-raised {
  box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.15);
}

.btn-raised:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.1);
  transition-delay: 0s;
}

.multi_value .listing .input-group {
  margin-bottom: .35em;
}

.input-group-btn:last-child > .btn {
  margin-left: 0;
}

ul.listing .add, ul.listing .remove {
  width: 6em;
  text-align: center;
}

.remove {
  background-color: $red-orange;
  border-color: $red-orange;
  color: $classic-white;
}
.remove:hover, .remove:focus {
  background-color: $classic-white;
  border-color: $red-orange;
  color: $red-orange;
}
.add {
  background-color: $teal-light;
  border-color: $teal-light;
  color: $classic-white;
}
.add:hover, .add:focus {
  background-color: $classic-white;
  border-color: $teal-light;
  color: $teal-light;
}

.upload {
  background-color: $yellow-medium;
  border-color: $highlight-yellow;
  color: $classic-white;
}
.upload:hover, .upload:focus {
  background-color: $classic-white;
  color: $yellow-medium;
}

.create-collection {
  background-color: $teal-light;
  border-color: $teal-light;
  color: $classic-white;
}
.create-collection:hover, .create-collection:focus {
  background-color: $classic-white;
  color: $teal-light;
}
