.collection-icon, .collection-icon-search {
  display: block;
  width: 100%;
}

.collection-icon {
  padding: 15px 0 0 0;
}

.collection-icon-search {
  padding: 15px 0 0 10px;
}

.collection-icon-small {
  padding: 5px 0 0 0;
  width: 1.5em;
}