//this override is inplace because there is an unwanted scrollx, scrolly on the fileheight element
// on the batch edit screen
.scrollx.scrolly.fileHeight {
  overflow-x: visible;
  overflow-y: visible;
}

.input-large, .form-group select {
  width: 70%;
}

.batch-group input, .batch-group select {
  width: 70%;

}

// The permission display css below is just to make the permission display look ok without reworking the
// --- Can be removed when permission display is reworked in sufia -----
#permissions_display.tab-pane {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

#permissions_display .well {
  border: none;
}

#new-user:before, #new-group:before, #new-user:after, #new-group:after {
  content: " ";
  display: table;
}

#permissions_save {
  margin-left: 15px;
}
// --- stop here on permission rework -----

// Do not display the additional rights button as we are only allowing one choice for rights at this time
#additional_rights_submit{
  display: none;
}