#masthead {
  background: $blue-dark;
  #shield img {
    float: left;
    margin-top: 15px;
  }
  .logo a:link, .logo a:visited {
    color: $classic-white;
    display: block;
    font-family: 'Lato', Verdana, Arail, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 300;
    text-decoration: none;
    padding-top: .5em;
  }
  .logoBold {
    font-weight: 500;
  }
  #user_utility_links {
    margin-top: 1em;
  }
}

#masthead_controls .navbar-default .navbar-nav > .active > a,
#masthead_controls .navbar-default .navbar-nav > .active > a:hover,
#masthead_controls .navbar-default .navbar-nav > .active > a:focus {
  background-color: $blue-medium-bright;
  color: $classic-white;
}

#masthead_controls {
  border-top: 1px solid $blue-medium;
  border-bottom: 1px solid $blue-medium;
  background-color: $blue-medium-bright;
  #search-submit-header {
    background-color: $gray-dark;
    border-top: 1px solid $gray-medium;
    border-bottom: 1px solid $gray-medium;
    :hover {
      background-color: $gray-medium;
    }
  }
  .navbar {
    background-color: $blue-medium-bright;
    li {
      border-right: 2px solid $blue-medium;
    }
    li:first-child {
      border-left: 2px solid $blue-medium;
    }
    a:link, a:visited {
      background-color: $blue-medium-bright;
    }
    a:hover {
      background-color: $basic-black;
    }
  }
}

@media screen and (min-width: 400px) {
  #masthead {
    .logo a:link, .logo a:visited, .logo a:hover {
      font-size: 1.5em;
      padding-top: .5em;
    }
  }
}

@media screen and (min-width: 644px) {
  #masthead {
    .logo a:link, .logo a:visited, .logo a:hover {
      font-size: 1.5em;
      padding-top: .95em;
    }
  }
}

@media screen and (min-width: 733px) {
  #masthead {
    .logo a:link, .logo a:visited, .logo a:hover {
      font-size: 2em;
      padding-top: .5em;
    }
  }
}

@media screen and (min-width: 781px) {
  #masthead {
    .logo a:link, .logo a:visited, .logo a:hover {
      font-size: 3em;
      padding-top: .15em;
    }
  }
}

@media screen and (min-width: 992px) {
  #masthead {
    .logo a:link, .logo a:visited, .logo a:hover {
      font-size: 3.25em;
      padding-top: .15em;
    }
  }
}

#footer {
  background: $blue-dark;
  a:link, a:visited {
    color: $classic-white;
  }
  .footer-logo span.logo {
    float: left;
    font-weight: 300;
    .logoBold {
      font-weight: 500;
    }
    a:link, a:visited, a:hover {
      font-size: 2em;
    }
  }
}

span.version {
  padding: .5em;
  a:link, a:visited {
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
}

span.version + p {
  clear: both;
}

div.footer-text {
  a:link, a:visited {
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
  ul {
    padding-left: 0;
  }
  li {
    display: inline;
  }
}

#masthead div.warn {
  background: $highlight-yellow;
  h2 {
    padding: 1em;
  }
}