@media screen and (min-width: 350px) {
  #masthead {
    #shield img {
      float: left;
      margin-top: 0.75em;
      width: 155px;
    }

    .logo a:link, .logo a:visited, .logo a:hover {
      color: $classic-white;
      display: block;
      font-family: 'Lato', Verdana, Arail, Helvetica, sans-serif;
      font-weight: 300;
      text-decoration: none;

      font-size: 1.25em;
      padding-left: 3.25em;
    }

    .login_button {
      margin-right: 0;
    }

    #user_utility_links {
      margin-top: 1.25em;
    }
  }
}

@media screen and (min-width: 549px) {
  #masthead {
    #shield img {
      margin-top: 0.15em;
    }
    .logo a:link, .logo a:visited, .logo a:hover {
      padding-top: 0.8em;
    }
    #user_utility_links {
      margin-top: 0.8em;
    }
  }
}

@media screen and (min-width: 650px) {
  #masthead {
    .logo a:link, .logo a:visited, .logo a:hover {
      font-size: 1.5em;
      padding-top: 0.5em;
    }
  }
}

@media screen and (min-width: 715px) {
  #masthead {
    #shield img {
      width: 175px
    }
    .logo a:link, .logo a:visited, .logo a:hover {
      padding-top: 0.65em;
    }
  }
}

@media screen and (min-width: 768px) {
  #masthead {
    min-height: 6em;
  }
}

@media screen and (min-width: 785px) {
  #masthead {
    #shield img {
      width: 225px;
    }
    .logo a:link, .logo a:visited, .logo a:hover {
      font-size: 2em;
      padding-top: 0.6em;
    }
    #user_utility_links {
      margin-top: 1.5em;
    }
  }
}

@media screen and (min-width: 912px) {
  #masthead {
    #shield img {
      margin-right: 2em;
    }
    .logo a:link, .logo a:visited, .logo a:hover {
      font-size: 2.15em;
      letter-spacing: .05em;
      padding-top: 0.45em;
    }
  }
}

@media screen and (min-width: 1024px) {
  #masthead {
    #shield img {
      width: 250px;
    }
    .logo a:link, .logo a:visited, .logo a:hover {
      padding-top: 0.63em;
    }
  }
}

#footer {
  a:link, a:visited {
    color: $classic-white;
  }
  .footer-logo span.logo {
    float: left;
    font-weight: 300;
    .logoBold {
      font-weight: 500;
    }
    a:link, a:visited, a:hover {
      font-size: 2em;
    }
  }
}

span.version {
  padding: .5em;
  a:link, a:visited {
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
}

span.version + p {
  clear: both;
}

div.footer-text {
  a:link, a:visited {
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
  ul {
    padding-left: 0;
  }
  li {
    display: inline;
  }
}

#masthead div.error {
  background: $red-orange;
  color: $classic-white;
  h2 {
    padding: 5em;
    padding-bottom: 100em;
    font-size: 6em;
  }
}
