/* Overall Color Palette
-------------------------------------- */
$basic-black: #000;
$blue-dark: #036;
$blue-medium: #1C5798;
$blue-medium-bright: #2674CA;
$teal: #2CAEB7;
$vermilion: #F30;
$highlight-yellow: #F0CA00;
$gray-dark: #333;
$gray-medium: #CECDCD;
$gray-light: #DDD;
$gray-lighter: #E1E1E1;
$cream-light: #FCFBF7;
$classic-white: #FFF;


$brown-dark: #7D5D55;
$brown-medium-dark: #A78352;
$brown-medium: #B89972;
$brown-light: #D2B48C;

