/* Overall Color Palette
-------------------------------------- */
$basic-black: #000;
$dark-blue: #036;
$medium-blue: #1C5798;
$medium-blue-bright: #2674CA;
$middle-gray: #CCC;
$highlight-yellow: #F0CA00;
$classic-white: #FFF;

