.tab-pane .alert.restrictions {
  margin-top: 0px;
  padding-top: 0px;
}

.upload-note {
  padding: 1.2em 1em;
}

.restrictions h3 {
  font-size: 1.25em;
  margin-top: 1em;
}

.restrictions {
  ul {
    padding-left: 0;
  }
  li {
    list-style-type: none;
  }
  p {
    padding-top: 1em;
  }
}
