.button_to .btn-primary {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.batch-select-all .btn-primary {
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

/* **************************
*  Below added by Cal
*************************** */

.collection-list-container{
  visibility: hidden;
  z-index: 40001;
}
.collection-list-container li{
  list-style: none;
  padding-top: 8px;
}
.collection-list-container label{
  display: inline;
  padding-left: 5px;
}
.collection-list-container .collection-add{
  float: right;
  margin-right: 190px;
  margin-top: -46px;
}

.vertical-offset{
  position: fixed;
  top: 30%;
  width: 100%;
  z-index: 40002;
}

.collection-list-box{
  width: 450px;
  position: relative;
  margin-left: 100px;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #666;
}

#modalClose{
  font-size: 25px;
  float: right;
}

#cog-drop{
  overflow-x: hidden
  width: 180px;
}
#cog-drop li{
  padding-left: 5px;
  padding-right: 5px;
}
#cog-drop .btn{
  background: white;
  color: black;
  box-shadow: none;
  text-shadow: none;
  text-align: left;
  border: none;
  border-radius: 0;
  width: 160px;
  display: block;
  white-space: no-wrap;
  padding: none;
}
#cog-drop .btn:hover{
  background-color: #0088cc;
  color: white;
}
