/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
<!--[if lte IE 9]>
  <link rel="stylesheet" type="text/css" href="css/ie8-and-down.css" />
<![endif]-->
*/

body {
  font-size: 100%;
}


.fbox {
  float: left;
  width: 33.3%;
}

.fbox-row {
  width: 800px;
  margin: auto;
}

.hentry-pad {
  clear: both;
  width: 500px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
}

#greylogo img {
  width: 319px;
  height: auto;
}

  #header .fboxes .grid-element {
    width:33%;
  }
  
  #header .fboxes .grid-element .fbox {
    margin: 0 35px; 
    text-align:center; 
  }
  
  #header .fboxes .blocks {
    text-align:left;
  }
  
  #header .fboxes h3 {
    text-align:left;
  }
  
  
  
  .page-id-35 article {
    padding:25px;
  }
  
  .info-footer {
    width:680px;
  }
  
  .info-footer .logo {
    display:table-cell;
    float:none;
    vertical-align: middle;
    width:50%;
    text-align:right;
    font-size:3em;
    padding-bottom: 10px;
  }
  
  .info-footer .info {
    display:table-cell;
    float:none;
    padding-left:10px;
    vertical-align: middle;
  }

    .branding_wrap .plbrand:before { }
  
  /*Keep Logo from overlapping PSU Branding*/
  .plbrand img { margin-top: 80px; }
  
  #greylogo { text-align: center; }
  
  #slogan { border: none; text-align: center; }