/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
<!--[if lte IE 10]>
  <link rel="stylesheet" type="text/css" href="css/ie9-and-down.css" />
<![endif]-->
*/

.element-visible {
  position: relative !important;
  height: inherit; width: inherit; 
  overflow: visible;
  clip: none; /* IE6, IE7 */
  clip: none;
}

form {
	label.element-invisible {
	  position: relative !important;
	  height: inherit; width: inherit; 
	  overflow: visible;
	  clip: none; /* IE6, IE7 */
	  clip: none;		
	}
}