@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,600italic,600,700');
//@import "compass/typography/vertical_rhythm";
//@import "compass/css3";

*, *:before, *:after {
  -moz-box-sizing: border-box;
}

@mixin cross-browser-inline-block {
  display: inline-block; /* For normal, healthy browsers */

  * html & { /* for IE6 */
    display: inline;
  }

  *+html & { /* for IE7 */
    display: inline;
  }
}
$base-font-size: 16px;
$base-line-height: 1.5em;
//@include establish-baseline;

html, body {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

$fbox-inline: 40em;

.sr-only {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  padding: 0;
  max-width: none;
  width:auto;
}

#site {
  display: block;
  overflow: hidden;
}

body {
  font-size: 75%;
  background-color: #272D3B;
  .col-sm-6 {
    float:none;
    width:100%;
  }
  #slogan.col-sm-4 {
    margin-left:0;
    width:100%;
  }

  @media (min-width: $fbox-inline) {
    font-size: 75%;

    .col-sm-6 {
      width:50%;
      float: left;
    }
    #slogan.col-sm-4 {
      margin-left:50%;
      width:33%;
    }
    #slogan {

    }
  }
  @media (min-width: 50em) {
    font-size: 85%;
    .col-sm-6 {
      width:50%;
      float: left;
    }
    #slogan.col-sm-4 {
      margin-left:50%;
      width:33%;
    }
  }
  @media (min-width: 80em) {
    font-size: 100%;
    .col-sm-6 {
      width:50%;
      float: left;
    }
    #slogan.col-sm-4 {
      margin-left:50%;
      width:33%;
    }
  }
}

.element-invisible {
  position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}


#header {
  background: url('scholarsphere-bg.jpg') repeat;
  padding-top: 30px;
  
  .content {
    background:transparent; 
  }
  
  .mainlogo-img {
    margin:20px auto; 
  }
  
  h3 {
  font-family: 'Open Sans' !important;
    font-style: normal;
    font-weight: 300;
    font-size:2.6em;
    font-style:italic;
  }
  
  .fboxes {
    font-size:1.1em;
    
    .grid-element {
      margin:0 0 30px;
      width:auto;
      
      .fbox {
        color:#333333;
      } 
    }
    .grid-element.pplast {
      
    }
    h3 {
      margin: 0;
      padding: 0;
      text-align: center;
    }    
  }
  
  #boxes {
    
    .content-pad {
      padding-top:0;
        padding-bottom: 130px;
    }
  }
  
  .psu-mark {
    
    img {
      width:35%;
      max-width:150px;
      min-width:75px;
    }
  }
}

#header .mainlogo-img {
    margin:20px auto;
    width: 100%;
    max-width: 383px; 
    min-width: 100px;
}

#header .ps-mark {
  width:35%;
  max-width:150px;
  min-width:50px;
  display: block;
  overflow: hidden;
}

#header .ps-mark img {
  width: 100%;
}

#branding .col-sm-4 {
  padding: 0 2em;
  max-width: 20em;
  margin: 0 auto;
}

.fbox-row {
  @media (min-width:$fbox-inline) {
    text-align: center;
  }
}

.fbox {
  padding: 0 2em;
  max-width: 20em;
  margin: 0 auto;

  @media (min-width:$fbox-inline) {
    @include cross-browser-inline-block;
    margin: 0;
    width: 33%;
    vertical-align: top;
  }
}

.fboxtitle h3 {
  color: #06c;
  font-weight: bold;
  font-size: 2.6em;
  font-style: italic;
  text-align: left;
  padding-bottom: .5em;
}

.fboxtext {
  text-align: left;
}

#slogan {
  border-left: solid 1px #999;
  margin-left: auto;
  margin-right: auto;
}

#slogan p {
  padding: 0;
  margin: 0;
  color: #223;
}

#slogan p#url a, #slogan p#url a:visited{
  color: #8c8c8c;
}

#service {
  text-align: center;
  margin-top: 3em;
  font-style: italic;
  font-weight: bold;
}

#emailnotice {
  text-align: center;
  font-size: .8em;
  color: #8c8c8c;
  margin-top: .5em;
  margin-bottom: 3em;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  float: none;

  @media (min-width:$fbox-inline) {
    max-width: 50em;
  }
}

article {
  background: none repeat scroll 0 0 white;
  margin-top: -50px !important;
  padding: 10px;
    box-shadow: 0 0 5px 1px #AEAEAE;
    position: relative;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

article .hide {
  display: none;
}

article h2 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
}
.hentry-pad {
  padding: 0;
}
#dynamic-content {
  min-height: auto !important;
}
.form-error {
  margin-bottom: 60px;
  margin-top: -70px;
}
form.landing-form{
  //margin-top: -30px;
  padding: 0;
  margin-bottom: 0;
}
form.landing-form p {
  margin: 0;
}

form.landing-form .contact-submit {
  position: relative;
}
form.landing-form  input {
  background-color: #FAE24C;
  background-image: none;
  border: medium none;
  color: black;
  margin: 0;
  padding: 10px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
  border-radius: 0;
  padding: 5px;
}

form.landing-form  input.email, form.landing-form  input.name {
  background-color: white;
  padding-right: 0px;
  border: 2px solid #888888;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  /*border-left: 2px solid #00000;   */

}

form.landing-form {
  
  label {
    /* position: absolute !important;
     height: 1px; width: 1px; */
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }  
}

h3#thankyou {
  text-align: center;
  margin-bottom: 30px;
}

form #thankyoutext {
  @extend h3#thankyou;
  margin-bottom: 0;
}
  
  h1 {
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  article {
    background: none repeat scroll 0 0 white;
    margin-top: -110px !important;
    padding: 10px;
    box-shadow:0 0 5px 1px #AEAEAE;
    position:relative;
    z-index:100;
    margin-left:auto;
    margin-right:auto;
    max-width:400px;

    h2 {
      margin-top:0;
        margin-bottom:10px;
        text-align:left;
    }
  }
  
  .hentry-pad {
    padding:0;
  }
  
  #dynamic-content {
    min-height:auto !important;
  }
  
  .form-error {
    margin-bottom: 60px;
  margin-top: -70px;
  }
  
  form.landing-form {
    //margin-top:-30px;
    padding:0;
    margin-bottom:0;
    
    p {
      margin:0;
    }
    
    input {
      width:100% !important;
        font-size:1.6em;
        font-family:'Open Sans';
        color:#999999;
        height:auto;
        max-width:none !important;
    }
    
    .contact-submit {
      position:relative;
    
   input {
        background-color: #FAE24C;
        background-image: none;
        border: 2px solid #D3D3D3;
        color: black;
        margin: 0;
        padding: 10px 0;
        font-family: 'Open Sans', sans-serif;
        font-weight:600;
        font-style:italic;
        border-radius:0;
        font-size: 24px;
        //@include adjust-font-size-to(24px);
        line-height: 100%;
      }
    }
    
  }


body {
  font-family: 'georgia';
  color:#333333;
}

.fullwidth #column-main .mcolumn-pad {
  padding:0 !important;
}


.info-footer {
  display:block;
  overflow:hidden;
  max-width:900px;
  margin:auto;
  padding:20px;
  
  
  .col {

  }
  
  .logo {
    border-right: 1px solid;
    color: #999999;
    display: inline;
    font-family: 'Open Sans';
    font-size: 2em;
    font-weight: 600;
    line-height: 100%;
    padding-right: 10px;
    margin-bottom:10px;
    
    a {
      color:#999999;
    }
  }
  
  .info {
    font-family:'Open Sans';
    font-weight:600;
    min-width:300px;
    display:block;
  }
  
  a {
    font-weight:700;
  }
}

.disclaimer {
  clear: both;
  color: #666666;
  display: block;
  font-family: 'Open Sans';
  font-size: 0.8em;
  font-weight: normal;
  line-height: 150%;
  margin-top: 30px;
  max-width:680px;
  margin:auto;
  padding:20px;
  text-align:center;
}

.service-identity {
  width:100%;
  text-align:center;
  font-style: italic;
  margin-top:10px;
}


#morefoot_area {
  margin-left:-10px;
  margin-right:-10px;
  
  .content {
    max-width:none; 
    
    .content-pad {
      padding:0;
      
      .footcol-pad {
        padding:0;  
      }
    }
  }
  
}

.blue-footer {
  background: #272D3B;
    text-align:center;
    margin-top: 30px;
    
  img {
    padding-top:30px;
    padding-bottom:30px;
    margin:0 20px;
  }
}

.dark-blue-footer {
    background: none repeat scroll 0 0 #141720;
    color: #CCCCFF;
    font-family: 'Open Sans';
    font-size: 0.8em;
    font-weight: normal;
    padding: 15px;
    text-align: center;
  
  a {
    color:#CCCCFF;
  }
}

@media only screen and (min-width: $fbox-inline){
  #header .fboxes .grid-element {
    width:33%;
  }
  
  #header .fboxes .grid-element .fbox {
    margin: 0 35px; 
    text-align:center; 
  }
  
  #header .fboxes .blocks {
    text-align:left;
  }
  
  #header .fboxes h3 {
    text-align:left;
  }
  
  
  
  .page-id-35 article {
    padding:25px;
  }
  
  .info-footer {
    width:680px;
  }
  
  .info-footer .logo {
    display:table-cell;
    float:none;
    vertical-align: middle;
    width:50%;
    text-align:right;
    font-size:3em;
    padding-bottom: 10px;
  }
  
  .info-footer .info {
    display:table-cell;
    float:none;
    padding-left:10px;
    vertical-align: middle;
  }
  
}

#page {
  background-color: white;
}

.type-page {
  width: 80%;
  margin: auto;
}

#site #page, #site #dynamic-content {
  min-height:1px;
}

.page-id-35 form .contact-submit input {

}


#post-35 .post-meta { display:none; }

#post-35 .entry_content h3 { font-family: 'Open Sans'; }

#greylogo img {
  width: 100%;
  max-width: 319px;
}

.branding_wrap {
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

#greylogo {
  text-align: right;
}

#footer {
  font-size: .8em !important;
  background-color: #272d3b;
  font-family: 'Open Sans' !important;
  padding-top: 25px;
  padding-bottom: 15px;
}

#footer .logos {
  text-align: center;
}
#footer .logos img {
}

#footer .links {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

#footer .links div {
  text-align: center !important;
  color: #FFF;
  margin-top: 25px;
}

#footer a, #footer a:visited {
  color: #FFF;
}


@media screen and (max-width: $fbox-inline) {
  .branding_wrap .plbrand:before { }
  
  /*Keep Logo from overlapping PSU Branding*/
  .plbrand img { margin-top: 80px; }
  
  #greylogo { text-align: center; }
  
  #slogan { border: none; text-align: center; }
}


.landing-control {
  padding-bottom: 10px;
}

#footer.landing {
  width: 100%
}

#thankyou {
  font-weight: 500;
  font-size: 1.75em;
  color: #333333;
  font-family: 'Open Sans' !important;

}

#thankyoutext {
  text-align: center;
  font-size: 1em;
}