<footer id="footer" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-text text-left">
      <span class="logo"><a href="/"><span class="logoBold">Scholar</span>Sphere</a></span>
      <span class="version"><a href="/versions/"><%= ScholarSphere::Application::config.scholarsphere_version %></a></span>
      <p>A service of the University Libraries and Information Technology Services.</p>
    </div>
    <div class="navbar-right">
      <div class="navbar-text text-right">
        <p><strong>Copyright &copy; 2012 The Pennsylvania State University</strong></p>
        <p>
          <a href="http://psu.edu">Penn State</a>&nbsp;&#124;&nbsp;
          <a href="http://libraries.psu.edu">University Libraries</a>&nbsp;&#124;&nbsp;
          <a href="http://its.psu.edu">Information Technology Services</a>&nbsp;&#124;&nbsp;
          <a href="http://accessibility.psu.edu/">Accessibility</a>
        </p>
      </div>
    </div>
  </div>
</footer>
