<div id="footer-wrapper" class="row-fluid">
  <div id="footer">
    <div class="footer-logo">
      <p class="fright">
      <a href="/versions/"><%= ScholarSphere::Application::config.scholarsphere_version %></a></p>
      <a href="/"><img src="/assets/site_images/logo_psuss_footer.png" alt="Penn State ScholarSphere" /></a>
      <p>A service of the University Libraries and Information Technology Services.</p>
    </div>
    <div class="footer-text">
      <p><strong>Copyright &copy; 2012 The Pennsylvania State University</strong></p>
      <ul>
        <li><a href="http://psu.edu">Penn State</a></li>
        <li><a href="http://libraries.psu.edu">University Libraries</a></li>
        <li><a href="http://its.psu.edu">Information Technology Services</a></li>
        <li><a href="http://accessibility.psu.edu/">Accessibility</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div><!-- /footer -->
</div><!-- /footer-wrapper -->

