<div id="footer-wrapper" class="row-fluid">
  <div id="footer">
    <div class="col-xs-6 footer-logo">
      <span class="logo"><a href="/"><span class="logoBold">Scholar</span>Sphere</a></span>
      <span class="version"><a href="/versions/"><%= ScholarSphere::Application::config.scholarsphere_version %></a></span>
      <p>A service of the University Libraries and Information Technology Services.</p>
    </div>
    <div class="col-xs-6 footer-text">
      <p><strong>Copyright &copy; 2012 The Pennsylvania State University</strong></p>
      <ul>
        <li><a href="http://psu.edu">Penn State</a>&nbsp;&#124;&nbsp;</li>
        <li><a href="http://libraries.psu.edu">University Libraries</a>&nbsp;&#124;&nbsp;</li>
        <li><a href="http://its.psu.edu">Information Technology Services</a>&nbsp;&#124;&nbsp;</li>
        <li><a href="http://accessibility.psu.edu/">Accessibility</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div><!-- /footer -->
</div><!-- /footer-wrapper -->

