<a id="shield" href="http://www.psu.edu/"><%= image_tag "site_images/penn-state-mark.png", class: "lion-logo pull-left", alt: "Penn State" %></a>
<span class="ss-logo">
  <a href="/">ScholarSphere</a>
</span>
