<a id="shield" href="http://psu.edu/">
<img width="219" height="60" alt="Penn State University" src="/assets/site_images/logo_psuss_shield.png">
</a>
<a id="logo" href="/">
<img width="132" height="37" alt="Penn State ScholarSphere" src="/assets/site_images/logo_psuss_logotype.png">
</a>

