<a id="shield" href="http://psu.edu/"><img width="145" height="64" alt="Penn State" src="/assets/site_images/penn-state-mark.svg"></a>
<span class="logo">
<a href="/">
    <span class="logoBold">Scholar</span>Sphere
</a>
</span>