<a id="shield" href="http://psu.edu/"><%= image_tag "site_images/penn-state-mark.svg", width: "145", height: "64" %></a>
<span class="logo">
<a href="/">
    <span class="logoBold">Scholar</span>Sphere
</a>
</span>