<div id="masthead" class="container-fluid">
  <div class="row">
    <div class="col-xs-7">
      <%= render partial: '/logo' %>
    </div>
    <div class="col-xs-5 text-right">
      <%= render partial: '/user_util_links' %>
    </div>
  </div>
</div>
