<div id="masthead" class="container-fluid">
  <% unless can? :update, FeaturedWork %>
  <div class="row error">
    <h2>ScholarSphere is being upgraded and will be back on by Monday April 13th at 7am. Please come back then!</h2>
  </div>
  <% end %>
  <div class="row">
    <div class="col-xs-6 col-sm-7">
      <%= render partial: '/logo' %>
    </div><!-- /.col-xs-5 -->
    <div class="col-xs-6 col-sm-5 text-right">
        <%= render partial: '/user_util_links' %>
    </div><!-- /.col-xs-7 -->
  </div><!-- /.row -->
</div> <!-- /masthead -->

