<h1><%= @presenter.title %></h1>

<p><%= @presenter.message %></p>

<p>
  If this error continues please use the <a href="/contact/">the contact form</a>
  for assistance uploading your content"
</p>
